[2012-02-27 12:36] zupo opened #1 "get_site and get_request limitations"
Quoting davisagli: "Regarding the calls like get_site_url() and get_request(), it's a bit misleading to say that these will _always_ be available. It would be good to warn that the API is intended for use within code published by the ZPublisher (which sets up the necessary thread locals), as opposed to external methods or code run via bin/instance run or whatever."

We need to make a list use-case

[2012-02-27 12:43] zupo opened #2 "checkConstraints"
Quoting davisagli: "One thing I've found very useful in the Dexterity version is the checkConstraints=False flag if I want to add a content item and ignore the normal security checks for whether the item is allowed (useful for example in a browser view intended to let anonymous users submit something)."

I like the idea, but what are the security implications (if any) that we need to consider here

[2012-02-27 12:45] zupo opened #3 "Document which API calls check permissions and which don't"
We don't have this info now and we need to add it.

Also, wherever we do perform security checks, it would be nice to have flag to skip them if necessary.

If someone can go through the methods one by one and add this permissions information to docstrings, please?

[2012-02-27 12:50] zupo opened #4 "The documentation for get_tool should include a list of the tools that are available in a standard Plone installation."
Add the list of tools installed by default to method's docstring.

We can also do it in a way that if you specify a tool that does not exist, you get an Exception raised which
lists possible values in it's error message. Yes, no, overkill?

[2012-02-27 12:55] zupo opened #5 "List properties for user and list fields for content"
We want to have an easy way to getting a list of possible:
- properties you can get/set on a user
- fields you can get/set on a content

[2012-02-27 12:56] zupo opened #6 "api.content.get_field and api.content.set_field"
Much like we have api.user.get_property and api.user.set_property, we want to have api.content.get_field and api.content.set_field.

[2012-02-27 13:00] zupo opened #7 "api.get_registry_record and api.set_registry_record"
Another idea from davisagli: having a simple way to get/set records in plone.app.registry.

A definite +1 from me.

[2012-02-27 13:01] zupo opened #8 "Simple format a date/time or number for the current locale"
Something like api.localized_number() and api.localized_date()?

[2012-02-27 13:05] zupo opened #9 "api.is_homepage()"
davisagli: "An is_homepage() check (this is a FAQ, how do I check if I'm on the homepage)"

Comments?

[2012-02-27 13:15] zupo opened #10 "api.group.list_members()"
Simple, list members of a group.

[2012-02-27 13:55] wamdam opened #11 "Get the navigation root"
Get the navigation root (which may be different than the site root)

This is a common usecase with linguaplone or in other ways translated sites where the translation starts from /de, /en or other folders, which represent the navigation root.

I tend to think that this is in the 20% but 99% used wrong. Because when traversing from "root", people often use the site root when they should use the nav

[2012-02-27 14:18] zupo opened #12 "Get UID"
Getting a UID of a content object goes something like this:

[code]

This could be simplified. Something like:

[code]

Comments?

[2012-02-27 14:20] zupo opened #13 "Grant/revoke a permission to a role in a particular context"
Quoting optilude: "It's a fairly common thing to want to do, especially in bootstrapping/setup code and tests. And, the underlying API is awkward to use."

Proposals for method names and parameters they should accept?

[2012-02-27 15:35] wamdam opened #14 "Call for votes: Method signatures"
We want the API to stay consistent for a long time. But we know that the method signatures (i.e. the amount, names, types or if they're optional) of parameters will change.

One example is the change from user_id to a possible user_email from plone3 to plone4 which affects most user method signatures. They all have to add user_email as a new (optional) parameter. More of these changes will come.

[2012-02-27 16:41] dnouri opened #15 "`strict=True` and its `KeyError`"
I think `strict=True` is a poor choice of name in the context of `create` and `move`.  I initially thought it was to check security.  Anyway I have the feeling it may mean a number of things to different people.

Also, `KeyError` is a poor choice to denote that an ID was already taken.  The stack behind a call to `api.create` or `api.move` is huge, and `KeyError` very common.  Thus, you'll end up

[2012-02-27 16:45] dnouri opened #16 "api.content.move should not use keyword arguments"
I believe that `move` should not enforce the use of keyword arguments (which I think is the intention).  For the purpose of clarity, `move` and `rename` should be two different functions.  They may be similar in Unix, but the way that you have to call `move` with different keyword arguments to do either move or rename in Plone is utterly confusing to users, and I'd argue there is no advantage over

[2012-02-27 23:04] wamdam opened #17 "drop api.user.get"
The obscure user object would just be there to send it to other api functions. Those on the other hand would have to implement calls with user_id _and_ user as an object. This makes the api more complicated without bringing any win. So drop it.

[2012-07-13 15:29] fakedrake opened #18 "api.get_event_subscribers"
I couldn't find a reliable way to do this and it's not extremely useful but it would be nice to have an interface to query event subscribes if anything for testing.

[2012-08-13 10:20] zupo opened #19 "Explain how to list members of a group"
Probably there's no need for a plone.api method for this, but it would be nice to show an example how to do it in the docs.

[2012-08-16 06:33] zupo opened #20 "getSite() returns None when using zope debug console"
Trying to get the portal object in a debug console session ($ bin/instance debug) fails:

[code]

Running the same code in a pdb session in a running instance ($ bin/instance fg) works as expected:

[code]

[2012-08-16 11:38] shan3tala opened #21 "unable to get the plone.app module"
from plone.app.uuid.utils import uuidToObject
ImportError: No module named app.uuid.utils

for
from plone import api

[2012-08-20 17:56] #6 closed, assigned to nobody

[2012-08-20 17:59] #8 closed, assigned to nobody

[2012-08-20 18:06] #14 closed, assigned to nobody

[2012-08-20 18:09] #17 closed, assigned to nobody

[2012-08-20 18:19] #19 closed, assigned to nobody

[2012-08-20 18:36] #1 closed, assigned to nobody

[2012-08-20 18:47] #3 closed, assigned to nobody

[2012-08-20 18:50] #5 closed, assigned to nobody

[2012-08-20 19:01] #9 closed, assigned to nobody

[2012-08-20 19:59] miohtama opened #22 "Plugging yourself in Plone"
Currently plone.api provides sane means to manipulate Plone.

However, the 1st step is to plug yourself into Plone in the first place (views, utilities, overrides, etc.) before you can start exploiting plone.api goodies.

Should this be covered by plone.api or what kind of story we are going to tell users about this?

[2012-08-20 20:06] miohtama opened #23 "Be exact about byte string vs. unicode string"
Python 2 unicode support is b0rked as everyone who have had the pleasure to meet Mr. UnicodeDecodeErrro knows.

Plone is vague when you should use bytestrings or unicode strings. For example, one can create workflow (states) with non-ASCII letters which only will break in other parts of systems (export, etc.) This is really really bad, as when you detect the error your data is already corrupted.

[2012-08-20 20:12] miohtama opened #24 "portal_state / content_state pass through?"
portal_state and context_state offer some functionality used by 80% of view logic and templates. They are usually simple getters.
- Should this functionality be duplicated in Plone API as code? E.g. create corresponding plone.api methods.
- If not, should this functionality be covered by Plone API documentation? As an use ase and code examples.

[2012-08-20 20:28] miohtama opened #25 "Cross-linking collective-docs with plone.api"
When plone.api functionality is available it should be told and preferred in collective.developermanual.

What is the best way to cross-link / embed Sphinx documentation together?

[2012-08-20 20:37] miohtama opened #26 "Full Python through-the-web scripting with plone.api"
Through-the-web scripting is currently useless for Plone as it is build on RestrictedPython / Zope 2 security model. Restricting Site Admin access to full Python is overblown for 99% use cases - you rarely run Plone on shared Zope environment. However, as you cannot run arbitrary Python code TTW scripting is next to useless.

The site administrators, with little Python skill and plone.api, should

[2012-08-25 18:14] zupo opened #29 "Better error reporting in api.content.create()"
1. Raise "MissingParameterError" instead of "ValueError" (see how it's done in api.portal.get_tool())
2. If a user wants to add a type that doesn't exist, the code currently returns an ugly error message. Instead, catch the exception and raise an InvalidParameterError and print types that can be added to the container (similar to how it's done in api.portal.get_tool()).

[2012-08-25 18:15] zupo opened #30 "Better error reporting in api.content.transition()"
1. Raise "MissingParameterError" instead of "ValueError" (see how it's done in api.portal.get_tool())
2. If a user wants to use a transition that doesn't exist, the code currently returns an ugly error message. Instead, catch the exception and raise an InvalidParameterError and print available transitions (similar to how it's done in api.portal.get_tool()).

[2012-08-25 18:17] zupo opened #31 "Better error reporting in api.content.get_view()"
1. Raise "MissingParameterError" instead of "ValueError" (see how it's done in api.portal.get_tool())
2. get_view() returns an ugly componentLookupError if it cannot find a view. Instead, catch the exception and raise an InvalidParameterError and print available views for that context & request (similar to how it's done in api.portal.get_tool()).

[2012-08-25 18:29] #21 closed, assigned to nobody

[2012-08-25 21:28] xiru opened #34 "Rename obj parameter to object"
On api.user.has_permission() it is being used "object" as parameter. On api.content.delete() it is being used "obj".

I believe that it is important to normalize the parameters names and, on this special case, rename "obj" to "object".

[2012-08-25 22:46] zupo opened #35 "Proposal for updated method names"
Left side is current state, right side is how I propose that it should be.

`<-` means that it stays the same, `+` that a new method will be added.

[code]

[2012-08-26 00:05] #12 closed, assigned to nobody

[2012-08-26 00:28] #4 closed, assigned to nobody

[2012-08-26 15:31] esartor opened #37 "has_role should have allow checking roles in context"
Add a obj parameter to has_role method that allows you to check if a user has a local role in the obj context

[2012-08-26 17:21] #34 closed, assigned to jpgimenez

[2012-08-26 17:22] #31 closed, assigned to nobody

[2012-08-26 17:22] #30 closed, assigned to nobody

[2012-08-26 17:22] #29 closed, assigned to nobody

[2012-08-26 18:39] zupo opened #41 "Use api.portal.get() instead of getSite() internally"
The api.portal.get() will have error handling and stuff so we should always use this internally, instead of the getSite(). Go through the code and replace getSite() calls with api.portal.get() calls.

[2012-08-26 18:53] #16 closed, assigned to jpgimenez

[2012-08-26 20:25] #20 closed, assigned to nobody

[2012-08-26 20:31] #41 closed, assigned to jpgimenez

[2012-08-27 17:03] #10 closed, assigned to nobody

[2012-08-27 19:43] #37 closed, assigned to ericof

[2012-10-13 10:39] #35 closed, assigned to nobody

[2012-10-13 10:49] #24 closed, assigned to nobody

[2012-10-13 10:51] #26 closed, assigned to nobody

[2012-10-13 10:52] #22 closed, assigned to nobody

[2012-10-13 10:52] #18 closed, assigned to nobody

[2012-10-13 10:52] #15 closed, assigned to nobody

[2012-10-13 10:59] #11 closed, assigned to nobody

[2012-10-13 11:26] zupo opened #45 "Contributor documentation"
- code style
- git hints
- coverage
- pull-request workflow

[2012-10-13 11:28] zupo opened #46 ""Complete API" docs pages broken"
Docs at http://ploneapi.readthedocs.org/en/latest/api/index.html is broken --> methods names are not clickable, probably because Sphinx couldn't import something and then sphinx.ext.autodoc didn't do it's magic.

Investigate.

[2012-10-13 15:42] zupo opened #48 "Custom Sphinx directive for "invisible-code-block""
For code examples in our .rst files we use "invisible-code-block" for code that we need as test setup. This is an unknown Sphinx directive and is therefore not rendered, hence providing the output we want (having setup code inline, but not display it in rendered docs). The downside is, that we get lots of warnings when rendering docs and some legitimate warnings/errors might get overlooked.

So re

[2012-10-13 21:10] #46 closed, assigned to nobody

[2012-10-13 21:28] zupo opened #52 "Enable PDF generation of docs"
So people can have dead-tree versions of docs.

[2012-10-13 21:49] #52 closed, assigned to nobody

[2012-10-14 08:20] zupo opened #53 "Check that all modules have shebang lines"

[2012-10-14 15:05] #45 closed, assigned to zupo

[2012-10-14 16:58] zupo opened #55 "Use appropriate Exceptions"
Currently, most methods return ValueErrors when passed bad parameters. We should replace that with usage of MissingParameterError and InvalidParameterError. See how it's done in api.content.create().

[2012-10-14 17:00] #53 closed, assigned to nobody

[2012-10-14 17:12] zupo opened #56 "Fail Travis build if Sphinx has warnings"
@iElectric says you can tell Sphinx to fail in case of warnings. We can do that on Travis to detect little stupid syntax errors and such.

[2012-10-14 21:04] #25 closed, assigned to nobody

[2012-10-17 17:49] #55 closed, assigned to adamcheasley

[2012-10-18 02:17] #13 closed, assigned to esartor

[2012-10-18 05:34] #7 closed, assigned to nobody

[2012-10-19 09:07] adamcheasley opened #59 "Deal with both objects and brains"
Just a thought; All of the functions only deal with objects at present. I was thinking it might be handy if you could pass in either an object or a catalog brain, and the function would deal with either case.

I was more thinking of the functions in plone.api.content at the moment.

For example, it would be handy if you could pass api.content.get_state either an object or a brain and it would alwa

[2012-10-19 19:31] gil-cano opened #60 "project versions links in readthedocs not working"
When reading the documentation in readthedocs, links to project version in side bar point to things like:

https://readthedocs.orghttp//ploneapi.readthedocs.org/en/latest/
https://readthedocs.orghttp//ploneapi.readthedocs.org/en/0.1a2/

which result in "This webpage is not available"

[2012-10-21 10:07] zupo opened #61 "Improve api.portal.get()"
Improve how api.portal.get works with Laurence's tips:
- https://github.com/plone/plone.api/commit/725dbfc33d5a76112118a7989fcc2cb4ad108828#commitcomment-1810649
- https://github.com/plone/plone.api/commit/1d9d1d775db487c206eaa48ff83f72863e9b3e24#commitcomment-1810655

[2012-10-25 09:26] adamcheasley opened #62 "failing test in get_view"
I noticed that the test 'test_get_view_view_not_found' is currently failing.
I then noticed that if we cannot get the view, we raise a InvalidParameterError, and return all the views available. Is this really the correct error to be raising at this point?

I was under the impression that InvalidParameterError was used when something was passed to a function that should not have been.

[2012-10-29 19:38] domenkozar opened #63 "Exception message returns 404"
[code]

Which leads to 404

[2012-11-05 10:37] #59 closed, assigned to nobody

[2012-11-09 16:55] adamcheasley opened #64 "Another pypi release"
It would be great if we could have another pypi release as the version there is getting quite old.

[2012-11-11 10:12] datakurre opened #65 "ImportError with Plone 4.3a2"
[code]

I guess, the compatible import would be `zope.container.interfaces.INameChooser`.

[2012-11-12 10:27] jean opened #66 "Please cater for setting member password"
From plaintext or from an existing hash.

[2012-11-16 14:23] #64 closed, assigned to nobody

[2013-01-04 08:26] zupo opened #69 ""omit autoroles" flag for get_roles"
I want to be able to say pass omit_autoroles=True to get_roles() to omit AuthenticatedUsers from the list of returned roles.

Same for get_groups.

[2013-01-04 09:49] toutpt opened #70 "content.create fails with archetypes without id argument"
I know there is a tests for that but the test do not work as real use case.

The code: https://github.com/plone/plone.api/blob/master/src/plone/api/content.py#L88

calling

[code]

then a rename is done

[code]

Fails like this::

[code]

the object has already been renamed.

[2013-01-04 10:29] #70 closed, assigned to nobody

[2013-01-13 19:59] lzdych opened #71 "Finding content by path fails if portal isn't in the zope root"
the "api.content.get(path=some_path) assumes that portal is placed in the zope root by this code (https://github.com/plone/plone.api/blob/master/src/plone/api/content.py#L137):

path = '/{0}{1}'.format(site_id, path)

... so if your Plone site isn't in the root but in some sub container e.g. mountpoint then this call fails returning None even if requested content exists.

[2013-01-17 16:55] adamcheasley opened #72 "Import issue with plone.registry"
I have a very basic stock plone site that I'm using to develop a new egg. I have installed plone.api. The tests are now giving me this error:

from plone.registry.interfaces import IRegistry
ImportError: No module named registry.interfaces

Does this mean plone.registry isn't installed by default?
Should we catch the ImportError here? I don't really want to have to install plone.registry if I don'

[2013-01-21 15:09] adamcheasley opened #73 "AttributeError: getLocallyAllowedTypes"
It looks like the get getLocallyAllowedTypes isn't always available:
types = container.getLocallyAllowedTypes()

This line is only hit if the type cannot be created in the container and the container is not the site root.

Any suggestions as to alternatives for this line?

[2013-01-23 22:10] #66 closed, assigned to nobody

[2013-01-24 14:55] #65 closed, assigned to nobody

[2013-01-24 14:56] #62 closed, assigned to nobody

[2013-01-24 22:02] #72 closed, assigned to nobody

[2013-01-24 22:26] #56 closed, assigned to nobody

[2013-01-24 23:43] #48 closed, assigned to nobody

[2013-01-25 00:16] zupo opened #79 "Replace pyflakes and pep8 with flake8"
flake8 is a more modern lib, with more features such as per-line or per-file ignoring errors/warnings.

see how it's done in https://github.com/niteoweb/bobtemplates.niteoweb/tree/master/bobtemplates/plone (setup.py and Makefile)

[2013-01-25 00:17] #63 closed, assigned to nobody

[2013-01-25 09:28] #60 closed, assigned to nobody

[2013-01-25 09:30] zupo opened #80 "Move to api.plone.org"
api.plone.org currently redirects to our own build of plone.api docs at http://developer.plone.org/reference_manuals/external/plone.api/. Thanks @miohtama, this is really neat.

Let's make api.plone.org the official location of this docs and remove everything from RTD (or better yet, replace them with notes that docs moved to api.plone.org).

[2013-01-25 12:56] #79 closed, assigned to nobody

[2013-01-25 18:43] zupo opened #82 "Specify dependencies"
Specify plone.api dependencies based on the "Declaring dependencies" convention.

[2013-01-25 19:06] zupo opened #83 "Missing docstrings"
Some methods (especially in tests/) are still missing docstrings. Eeek!

[2013-01-25 21:15] #61 closed, assigned to nobody

[2013-01-25 22:35] #71 closed, assigned to nobody

[2013-01-26 13:23] zupo opened #84 "Improve test coverage"
Coverage report is at http://boomer.leong.nl/plone-api-coverage/.

[2013-01-26 13:25] zupo opened #85 "Make all conditional imports according to the style guide"
http://ploneapi.readthedocs.org/en/latest/contribute/conventions.html#about-imports, number 4.

Go through the code and update places where we use ImportError.

[2013-01-26 17:21] #84 closed, assigned to reinhardt

[2013-01-30 14:02] #85 closed, assigned to nobody

[2013-02-01 18:46] miohtama opened #90 "Add .. contents:: :local: to all Sphinx pages"
This will generate in-page quick links TOC in Sphinx

      .. contents:: :local:

I suggest adding it after the heading of each plone.api manual page.

[2013-02-14 12:58] adamcheasley opened #92 "bug when using api.content.get_view in tests"
I can see that we've added some code to try and deal with the fact that tests usually do not have request['ACTUAL_URL']. Unfortunately, this seems to be breaking in our test environment:
https://github.com/plone/plone.api/blob/master/src/plone/api/content.py#L317

We are finding that dbtab is None, which means we get an attribute error trying to access **module**

[2013-02-19 10:54] zupo opened #93 "Deprecate api.content.get_uuid()"
Since Dexterity 2.0, it's now possible to just call context.UID() and get the uuid: https://pypi.python.org/pypi/plone.dexterity

[2013-02-19 11:34] zupo opened #94 "Deprecate api.content.delete()"
I propose deprecating api.content.delete() and instead documenting how to delete with 'del'.

[2013-03-03 23:39] aclark4life opened #95 "-P should be -O in the docs"
Just noticed the instruction to run

`bin/instance -P Plone debug`

from https://ploneapi.readthedocs.org/en/latest/api/exceptions.html#plone.api.exc.CannotGetPortalError. However I think it should be:

`bin/instance -O Plone debug`

according to p.r.zope2instance docs:

[code]

[2013-03-05 12:29] pingviini opened #97 "Moving and copying folderish objects doesn't work."
https://github.com/plone/plone.api/blob/master/src/plone/api/content.py#L228 uses source.manage_copyObjects method which is found from folderish objects.

This works now because of acquisition magic founds it from objects parent, but when one is trying to copy or move folderish object the code makes no sense anymore (it looks for object to copy/move under object itself).

Pull request https://gith

[2013-03-26 14:18] datakurre opened #99 "api.content.create replaces archetype-content title with site title during Plone site creation"
How to reproduce:
1. Use `plone.api.content.create` to create content in "setuphandlers.py" (or custom GS profile configuration step).
2. Create a new Plone site and select the profile in question to be installed for the new site.

Then

Each new Archetype-based content object created with plone.api.content.create will have site title as its title.

Why
1. plone.api.content.create calls Archetypes

[2013-04-03 09:35] thet opened #100 "plone.api.content.create fails, if processForm already renamed the obj"
i copied over some of the content creation code to plone.app.event's icalendar importer.

in one integration case, the renaming of the object failed when processForm already renamed the object. i cannot say, which cases these are, since the local buildout of the project in question works, where our RC buildout fails.

however, i fixed it like so:
https://github.com/plone/plone.app.event/blob/maste

[2013-04-03 14:48] #97 closed, assigned to nobody

[2013-04-03 14:52] #94 closed, assigned to nobody

[2013-04-03 14:54] #73 closed, assigned to cillianderoiste

[2013-04-03 14:57] #83 closed, assigned to nobody

[2013-04-03 14:58] #69 closed, assigned to nobody

[2013-04-03 14:59] #23 closed, assigned to nobody

[2013-04-03 15:28] #92 closed, assigned to nobody

[2013-04-03 17:05] #95 closed, assigned to nobody

[2013-04-04 15:31] #80 closed, assigned to nobody

[2013-04-19 07:17] petschki opened #101 "a note on import conventions and pydev"
Hi, just read over your conventions documentation and wanted to clarify the pydev import behaviour/validation:

it IS allowed to import somethink like:

[code]

it is NOT allowed to import

[code]

here you have to define one import per line

[code]

[2013-05-06 13:48] toutpt opened #102 "can't create a simple folder"
I'm trying to use plone.api in a new project to create a simple folder.

[code]

This code when execute throw me the following error:

[code]

That view is called by the default admin user created in an empty plone site.

[2013-05-16 10:18] miohtama opened #103 "Describe Python egg release conventiosn"
We have very high quality commit message, test and such policies in plone.api package documentation.

Should we include also policy how to make Python egg releases?
- CHANGES.txt etc.
- Automated releases with zest.releaser http://opensourcehacker.com/2012/08/14/high-quality-automated-package-releases-for-python-with-zest-releaser/
- .po/.mo file management http://developer.plone.org/i18n/internat

[2013-06-04 17:58] eleddy opened #107 "events on rename"
I am looking at rewriting cpy rename and obvy came here to get the cleanest rename code. However, one thing I noticed is that plone.api rename doesn't fire the required event. Is that intentional? renameObjectsByPaths is confusing as hell, but fires the correct events. Will plone api look at that?

[2013-06-04 18:12] eleddy opened #108 "rename should use plone tool rename"
https://github.com/plone/Products.CMFPlone/blob/master/Products/CMFPlone/PloneTool.py#L1299

I think this is safer and includes more security checks and transaction management. More importantly is we go through that single point which will make rewriting that easier later.

[2013-06-11 01:08] hvelarde opened #109 "plone.api does not include its license file"
according to the [GNU General Public License documentation](https://www.gnu.org/licenses/gpl-howto.en.html):

_You should also include a copy of the license itself somewhere in the distribution of your program. All programs, whether they are released under the GPL or LGPL, should include the text version of the GPL._

we are not including such file in the package distribution.

[2013-07-04 17:01] #109 closed, assigned to nobody

[2013-07-20 05:19] tisto opened #111 "docs/CHANGES.rst vs CHANGES.txt vs CHANGES.rst vs docs/HISTORY.txt"
https://github.com/plone/plone.api/blob/master/docs/contribute/conventions.rst states that CHANGES should go into "docs/CHANGES.rst":

"Feature-level changes to code are tracked inside docs/CHANGES.rst."

I was under the assumption that best practice for coredev packages is/was a top level CHANGES.txt (or newer: a top level CHANGES.rst). My impression is that this is the convention that most cored

[2013-08-02 14:18] regebro opened #112 "username/user_id confusion"
It seems like the terms username and user_id is used inconcistently in plone.api.

For example, user.get() states that it takes username as a paremeter. It does not, it requires the user ID. This is often the same, but not always. Most significantly it's different if you migrate a site to use email as username, when the username will be the email, and the id will remain the old user id, which is t

[2013-09-04 12:53] rodfersou opened #113 "Review docs text"
I found one word wrong into docs, so I'm going to do a review in the docs text into this issue branch.

[2013-09-04 13:47] rodfersou opened #114 "Content copy / rename / move should return the new object"
@zupo what do you think about this change? The idea is to return the object after copy/move/rename in these functions, this way if I use the safe_id=True parameter I'll know easily the target generated object.

[2013-09-04 13:54] rodfersou opened #115 "Review copy method if target parameter not informed"
Looking the code, I imagine that if I don't pass the target parameter the copy method will give an exception.. is it right?

https://github.com/plone/plone.api/blob/master/src/plone/api/content.py#L233

[2013-09-24 08:41] href opened #118 "Creating a new content object with an inexistent content type throws the wrong error message"
Trying out the plone.api.content.create method I discovered that calling it with an inexistent type throws the wrong kind of error.

E.g., creating a new object like this:

[code]

Results in an error like this:

[code]

I can imagine that somebody might be lead down the wrong path because of this if a there's an innocent typo in the type.

The actual error which plone.api suppresses in this case

[2013-10-01 19:00] #103 closed, assigned to nobody

[2013-10-01 19:01] #101 closed, assigned to nobody

[2013-10-02 17:24] zupo opened #125 "api.env.debug_mode() & api.env.test_mode()"
debug_mode(): True when you are running Zope in debug mode
test_mode(): True when you are running in a test runner

[2013-10-02 17:27] zupo opened #126 "api.env.plone_version() and api.env.zope_version()"
Two additional helper methods that return a string of the Plone or Zope version.

Might be good to also have sth. like api.env.add_ons():
- return a dict of all add ons (id, installed[bool], version[string])

Also, think about which version to return, the installed or the filesystem one?

[2013-10-02 17:28] zupo opened #127 "Integrate Coveralls.io"
I want our builds to fail and to get notified if a commit lowers the test coverage.

[2013-10-02 17:42] zupo opened #128 "Use plone.recipe.codeanalysis"
The plone.recipe.codeanalysis is a honking great buidout recipe for checking our codebase for exactly the conventions we are preaching about. Add it to our buildout & travis build!

[2013-10-02 17:44] zupo opened #129 "Sphinx warnings should break the build"
If Sphinx reports warnings, we should break the build so we make sure no documentation pages are missing and such.

The "-W" flag is used for this.

[2013-10-02 17:48] zupo opened #130 "Deprecate plone.api on RTD"
Building plone.api on RTD is a serious PITA as we need to use pip to install the correct eggs and the build process often fails + troubleshooting is very difficult.

We already have api.plone.org, which are built in a more reliable way, so lets deprecate plone.api on RTD. Can we create a redirect there? Or just upload a note that docs moved to api.plone.org.

[2013-10-03 20:27] zupo opened #131 "Can plone.api be used in RestrictedPython?"
Would be awesome to be able to use plone.api in Plomino. Can it be done?

[2013-10-05 16:52] zupo opened #135 "Use assertRaises as a context manager"
Find all test that use self.assertRaises() and make sure they are used as context managers (with the `with`).

[2013-10-05 17:01] #129 closed, assigned to nobody

[2013-10-05 17:52] rodfersou opened #137 "Update buildout.cfg to use 4.3.x version of Plone"
@zupo @davisagli pointed me that plone.api should use 4.3.x version of plone in buildout.cfg, what do you think about it?

[2013-10-05 18:25] #118 closed, assigned to nobody

[2013-10-06 14:30] #108 closed, assigned to MatthewWilkes

[2013-10-06 14:50] #135 closed, assigned to winstonf88

[2013-10-06 17:59] #127 closed, assigned to nobody

[2013-10-06 18:29] #130 closed, assigned to nobody

[2013-10-08 19:34] #112 closed, assigned to xiru

[2013-10-09 23:52] zupo opened #144 "The API index page does not list methods"
The http://developer.plone.org/reference_manuals/external/plone.api/api/index.html should list all API methods, but it doesn't.

[2013-10-11 19:01] hvelarde opened #146 "Use standard travis.cfg to speed up CI deployments"
Right now we are downloading every egg instead of using the unified installed; this could reduce CI time by half at least.

[2013-10-12 18:00] #146 closed, assigned to nobody

[2013-10-12 18:00] #111 closed, assigned to nobody

[2013-10-12 18:00] #125 closed, assigned to nobody

[2013-10-12 18:00] #128 closed, assigned to flohcim

[2013-10-12 18:00] #137 closed, assigned to nobody

[2013-10-12 18:01] #114 closed, assigned to rodfersou

[2013-10-12 18:01] #115 closed, assigned to rodfersou

[2013-10-18 21:10] hvelarde opened #149 "give more feedback on workflow transition errors"
when you found an issue while doing a transition, no matter what the issue is, you always end with a **WorkflowException**.

it could be that you have no workflow chain (like when running tests), that you have no permission to make a transition, that the transition you want to make does not exist... you name it.

I just spent an hour trying to figure out a problem, so I can tell you the current im

[2013-10-22 17:22] seanupton opened #150 "Use safer (not None) user argument default value in all functions where authenticated member is fallback"
plone.api.user.revoke_roles(user=plone.api.user.get(…)) can have dangerous side effects if the user value returned by Products.CMFPlone.RegistrationTool.get_member_by_login_name() returns None value for user (exceptions are supressed in call, this is possible).   The same side-effect of unintentionally modifying or querying the authenticated user is possible in such cases.

Maybe using None as a d

[2013-11-06 07:47] #126 closed, assigned to hvelarde

[2013-12-16 17:59] jcerjak opened #152 "Finding content by path fails when used in combination with virtual hosting"
Method `absolute_url_path()`, introduced in #71, is not robust against virtual hosting [1], we should use getPhysicalPath instead.

[1] https://dev.plone.org/ticket/13107

[2014-01-27 23:05] #152 closed, assigned to nobody

[2014-01-29 13:10] thet opened #157 "user.get_permissions breaks for admin user from zope-root acl_users"
when using `plone.api.user.get_permissions(user=user)` with the admin user from zope-root's acl_users folder, it breaks with a `UserNotFoundError`.
looks like the reason can be found here: https://github.com/plone/plone.api/blob/16bc0c731f5f55ac2fbed63852296c488e3c2796/src/plone/api/env.py#L39
the basic zope admin user cant be found in Plone's acl_users

[2014-02-25 09:32] tomgross opened #158 "Allow anonymous users in adopt_user context manager"
Something like this could be handy in some use cases

[code]

[2014-03-31 11:41] gforcada opened #159 "New api: security?"
Wouldn't make sense to have an API meant for checking permissions?

I fail to see how to do that with current plone.api and it would be nice to have on it.

So whenever I have a permission and an object and want to check if the current user has the given permission for the object I could use plone.api too.

[2014-04-03 21:33] hvelarde opened #160 "Wrong error message when creating a content type object without permissions"
If you have a folder created, let's say, by the site admin, and then you try to add an object inside the folder with an user that doesn't have permissions, you get a **Disallowed subobject type** error instead of a permission one.

this is very confusing.

[code]

[2014-04-05 13:04] rnixx opened #161 "<SpecialUser 'Anonymous User'> not implements checkPermission"
I have an addon where rendering of specific elements depends on several permissions, which of course may be granted to anonymous visitors. Since "SpecialUser 'Anonymous User'" returned by plone.api.user.get_current() not implements checkPermission, it makes this function somewhat useless as API.

[2014-05-02 13:59] adamcheasley opened #162 "Helpful workflow feature"
We have some code here at Netsight, and we're wondering if it's something that others might find useful and whether it could go into the api.

Essentially, what the code does is take an object and two workflow states. It then tries to transition the object from one state to the other, regardless of how many states are in  between. This is especially useful when you a complex workflow. It's also us

[2014-05-16 20:47] hvelarde opened #163 "Can't get info for anonymous user using the API"
I don't know if this makes sense for you but I think is a bug or an enhancement:

[code]

[2014-06-04 10:12] zupo opened #165 "Do we *need* to list Plone as a dependency?"
The ``mutually_exclusive_parameters`` and other decorators in validation.py are a honking great idea and I want to use them in non-Plone projects also!

However if my non-Plone project depends on plone.api, then all Plone packages get pulled in due to the fact that plone.api lists Plone as an install dependency in plone.api.

What pitfalls wait for us if we remove Plone as an install dependency to

[2014-06-18 10:06] href opened #166 "get_localized_time returns None if provided with a date"
This will return None:

[code]

This won't:

[code]

This is not strictly a fault of the plone.api, but it would be nice if the API either ensured that datetime was passed or that a date would be converted to datetime before passing the variable on.

Right now it's quite the gotcha.

[2014-06-20 14:02] mattss opened #167 "New release to pypi?"
It has been a little while since the last release of plone.api, and we have some functionality in the Plone Intranet development that relies on some of the recent additions.

Is there any chance of getting a release onto pypi soon?

Many thanks.

[2014-06-24 10:49] #167 closed, assigned to nobody

[2014-06-24 13:37] mattss opened #168 "Issue with 1.2.0 release"
I am getting failures in travis builds when trying to use the plone.api 1.2.0 release:

[code]

The odd thing is that I cannot replicate this locally. I can use the 1.2.0 release fine with a local buildout, as well as manually installing the egg with pip. I can also download the egg directly from pypi and run `python setup.py install` without error.

Can anyone shed any light on this?

[2014-07-09 13:48] zopyx opened #171 "plone.api.user.get_current() does not deal with non-Plone uses"
plone.api.user.get_current() raises an exception if the current user is defined outside the scope of the Plone site e.g. in the root of the Zope folder. get_current() should return in all cases a user object because it is common that some administrative code in add-ons is either called from a Plone site administrator and/or a Zope manager account. Right now you have write fallback code for handlin

[2014-07-09 14:00] zopyx opened #172 "plone.api.user.has_permission() needed"
The current implementation of plone.api does not provide a straight forward way to check a a permission in the context of a particular user and context object. Zope provides

user.has_permission(permission, obj)

plone.api.user.get_permission() provides only a way to list all permissions and then filter the permissions using

if some_permission in plone.api.user.get_permissions(user_obj, context):

[2014-08-20 11:41] sgeulette opened #175 "content.get_state throws exception"
When an object has no workflow, the content.get_state throws a WorkflowException.
In this case, isn't it better to catch the exception and return None ?

[2014-10-01 13:27] cekk opened #176 "grant_roles should only add given roles, not extends existing ones"
I have the following use case:
I have a folders structure like _aaa/bbb/ccc_. On **aaa** I set in the sharing that all _Authenticated Members_ are _Readers_.
On _ccc_, I have an event that apply a local role to an user (for example Contributor). Using plone.api.grant_roles, i noticed that in the sharing of _ccc_, the user has also the **Reader** role.

The _problem_ is that grant_roles takes a lis

[2014-10-21 15:50] zopyx opened #177 "Suggestion: method for retrieving folder contents"
plone.api currently does have a canonical API method for retrieving the contents of a folderish object.
Something like

  contents = plone.api.folder.list_contents(container, searchFilters, brains=False)

The semantic is obvious since it it modeled after the getFolderContents() method as we have it already in Plone. 'searchFilters' is a dict of query parameters for the portal_catalog. By default t

[2014-11-01 10:18] zupo opened #180 "Prepare for inclusion and usage in Plone Core"
During the PloneConf 2014 open-spaces it was decided that we should try to get plone.api included and used in Plone Core. Here are our notes:
- ship plone.api as a core package
- all core packages are allowed to use plone.api in tests
- a core package is allowed to use plone.api only if plone.api does not depend on it (to prevent circular dependencies and tightly coupled code)
- in order to be abl

[2014-11-01 10:48] #175 closed, assigned to nobody

[2014-11-01 10:56] #163 closed, assigned to nobody

[2014-11-01 10:57] #161 closed, assigned to nobody

[2014-11-01 11:04] #159 closed, assigned to nobody

[2014-11-01 11:07] #144 closed, assigned to miohtama

[2014-11-01 11:08] #131 closed, assigned to nobody

[2014-11-01 11:08] #113 closed, assigned to rodfersou

[2014-11-01 11:10] #102 closed, assigned to nobody

[2014-11-01 11:10] #100 closed, assigned to nobody

[2014-11-01 11:13] zupo opened #181 "Define process for including new modules to plone.api"
Recently there were ideas to add additional plone.api modules, such as api.folder and api.portlet. We need to define a process on how we accept new modules.

During the PloneConf 2014, @gforcada suggested we mimic how GTK does this and apply it to our use-case. After some discussion, this was what we came up with:
- for each new module, we will create a new package in the "experimenta.api.*" names

[2014-11-01 12:44] #166 closed, assigned to nobody

[2014-11-01 19:31] #107 closed, assigned to nobody

[2014-11-04 13:01] benniboy opened #183 "content.copy in same folder or target folder with existing source id"
if a content is copied in the same folder or in a target folder, where the same source id exists, the existing source(same folder) or third object (same id as source) gets renamed instead of the target.

[2014-11-04 15:24] #183 closed, assigned to nobody

[2014-11-05 09:01] jensens opened #184 "NameChooser on rename used the wrong way and fails on safe_id=True"
The namechooser used in `plone.api.content.rename` is used in a very wrong way.
https://github.com/plone/plone.api/blob/master/src/plone/api/content.py#L207

Thus `safe_id` is used the wrong way: Instead of choosing a safe id (incrementing a counter at the end in the default case) it fails and exposes the failure directly (not wrapped with plone.api exceptions!).

The adapation must always happen

[2014-11-05 09:08] jensens opened #185 "misleading documentation of ``safe_id`` in ``rename`` vs. ``copy`` (latter passes the value to rename)"
The documentation of rename in the docstring of `plone.api.content.copy` states::

[code]

And on rename it says:

[code]

So the described behavior in `rename` is fine, while copy is wrong, it shall start with "safe_id: When False...". Copy uses rename and just passes the value into rename, so both are definitly behaving the same.

Just for the records and reference. We will fix it.

[2014-11-05 09:21] #185 closed, assigned to benniboy

[2014-11-05 11:04] #184 closed, assigned to benniboy

[2014-11-10 17:15] #176 closed, assigned to nobody

[2014-11-16 13:38] hvelarde opened #187 "Bring back original convention on sorting imports"
as per discussion in https://github.com/plone/plone.recipe.codeanalysis/issues/88#issuecomment-63073852, I suggest to remove the following phrase from the [plone.api](https://github.com/plone/plone.api/blob/master/docs/contribute/conventions.rst#grouping-and-sorting) conventions:

_As for sorting, it is recommended to use case-sensitive sorting. This means uppercase characters come first, so "Prod

[2014-11-17 12:49] jensens opened #188 "Disallow 1-letter vars"
I propose to disallow one letter variables. Major reasons are:

1) pdb overrides local variables. so if in pdb and variable c was defined, continue does work, but you never get the value of c *(updated: i confused the direction here)*

    --Return--

    (Pdb) c

2) one-letter variables are not verbose.

In list-/dict-/tuple-/set- comprehensions one letter variables are allowed, since theres no p

[2014-11-17 13:23] jensens opened #189 "Travis must run code-analysis too"
It looks like travis does not run code-analysis. This must be enforced as quality assurance.

[2014-11-17 15:17] maethu opened #190 "Release: plone.api 1.3.1 also broken"
@jensens

[code]

[2014-11-17 15:25] jensens opened #191 "release tools config broken"
working in a virtual-env --no-setuptools all the included release tools are broken.

[code]

[2014-11-17 15:29] #191 closed, assigned to nobody

[2014-11-17 15:39] jensens opened #192 "Write egg build test to avoid brown bag releases."
write a script that
- builds an egg from plone.api
- tries to install it in a sandbox

[2014-11-17 16:05] #190 closed, assigned to nobody

[2014-11-17 16:09] jensens opened #193 "move CHANGES.rst one level up"
while building the docs i got:

[code]

Since `CHANGES.rst` is not part of the documentation it should be moved to the root level as it is best practice.

[2014-11-17 16:15] #193 closed, assigned to nobody

[2014-11-17 16:20] jensens opened #194 "``make docs`` broken"
jensens@minime:~/workspace/plone.api$ make docs
    bin/buildout
    Develop: '/home/jensens/workspace/plone.api/.'
    [...]
    Install Git pre-commit hook.
    bin/sphinx-build -W docs docs/html
    Running Sphinx v1.1.3
    loading translations [en]... locale not available
    loading pickled environment... done
    No builder selected, using default: html
    building [html]: targets for 19 s

[2014-11-18 11:48] gforcada opened #197 "Add conditional support for Archetypes"
I just saw that ``plone.api.content`` imports ``Products.Archetypes``.

As plone.api is going into core, it should have a soft-dependency on it (i.e. depend on it as an extra ``extras_require`` in ``setup.py``) and import it conditionally, i.e. http://docs.plone.org/external/plone.api/docs/contribute/conventions.html#about-imports 4th point

[2014-11-24 13:06] jaroel opened #198 "content.delete should allow a list of objects"
So I can replace code like
for obj in auctioncategory.objectValues('auctionsubcategory'):
    api.content.delete(obj)

with
api.content.delete(auctioncategory.objectValues('auctionsubcategory'))

[2014-12-09 10:37] gforcada opened #201 "Provide a editorconfig configuration"
Credit were credit's due: https://github.com/collective/bobtemplates.plone/pull/8

So there is this website (and set of plugins for all major IDE/text editors) that helps on standardizing some formatting related aspects of files (indentation level, spaces vs tabs ...).

Creating one on for plone and advertising it on  plone.api style guide will be great.

This way newcomers just need to get that f

[2014-12-09 17:26] gforcada opened #202 "Move references from api.plone.org to docs.plone.org?"
I quickly grepped and saw that there are references to api.plone.org, should they be moved to docs.plone.org?

I see that #130 was created for moving from RTD to api.plone.org, but given that docs.plone.org is in a healthy and good shape, should we move everything there?

Just wondering...

[2014-12-10 20:28] #201 closed, assigned to nobody

[2014-12-28 08:06] fongtech opened #204 "plone.api.get_roles(username=userid) breaks if username != userid"
When use with collective.emaillogin4, userid can be different from username.

So the api should be
plone.api.user.get_roles(userid=None, user=None, obj=None, inherit=True)
not
plone.api.user.get_roles(username=None, user=None, obj=None, inherit=True)

[2015-01-02 10:42] adamcheasley commented on #204
-1
The convention throughout the api is to allow either username or user. It seems that this is a specific case which only occurs when integrating with collective.emaillogin4.

[2015-01-05 21:01] zupo commented on #204
IIUC, the proper way would be to update *all* api methods that use the "username" parameter to also take the "userid" parameter (in cases where username does not equal userid).

[2015-01-06 09:46] adamcheasley commented on #204
Yesterday @mattss and I discovered a potential bug in api.user.get that may indeed be related to the above issue. I will see if I can write some tests to expose this problem.

[2015-01-06 20:02] WouterVH commented on #188
this should work as well

[2015-02-03 13:54] jaroel commented on #187
The only reason we're preferring case sensitive sorting is because of tooling.
When this was decided, the defacto editor (ST2) and mr.igor sorted case sensitive, so we went with that.

imho plone.recipe.codeanalysis should be leading, therefor plone.api should change the conventions.

[2015-02-03 13:55] zupo commented on #187
What do you mean by leading?

[2015-02-03 14:02] jaroel commented on #165
We don't have a dependency on Plone after #180 .
An alternative is to extract that functionality into a seperate package, or collaborate to extend existing solutions like pyvalid

[2015-02-03 14:03] #165 closed

[2015-02-03 14:10] jaroel opened #206 "plone.content.get_link"
Since I'm linking to a lot of objects, I'd like a helper method and view (ie @@view_url) that returns an chameleon.utils.Markup object or plain html (html=True argument).

This call can be used to create an a tag that:
1. links to the objects view url
2. checks View permission (no tag if no View permission
3. set the title attribute by default

Would be nice:
4. is also callable as a view on an ob

[2015-02-03 14:14] jaroel commented on #206
Different views can be done like:
1. get_link(view=None) -> absolute_url
2. get_link(view='my-view-name') -> ${context/absolute_url}/'my-view-name'

A marker object for the view argument signals the default view. This is the default setting.

def get_link(context, view=_marker, html=False):
    pass

[2015-02-03 14:17] adamcheasley commented on #206
I don't really see that this is adding much. In the second example, you already have the object and the view name. Why would you not just use absolute url?

[2015-02-03 14:20] mattss commented on #206
I may be misunderstanding your use-case here, but this doesn't sound like it fits with the goals of plone.api (in particular: "...to cover 20% of the tasks any Plone developer does 80% of the time.")

[2015-02-03 14:46] jaroel commented on #206
@adamcheasley the second example is just to be feature complete. Don't really care for that except that I can use the same API everywhere.

@mattss I have to generate 'a' tags and check permissions all the time when I make custom views. I don't like to do that :)

[2015-02-03 14:48] jaroel commented on #187
That plone.recipe.codeanalysis specifies what the coding standard should be. I'd like it to check all code, instead of doing it myself.

[2015-02-03 14:53] adamcheasley commented on #206
Using the catalog will check permissions for you. It's then not too much trouble to use brain.getURL() to get the equivalent to absolute_url.

[2015-02-03 14:58] mattss commented on #206
@jaroel don't get me wrong - it sounds like a good pattern for your use case, but it's not a common use case in my own experience.

[2015-02-03 15:02] gforcada commented on #165
:+1: on reusing/extending other solutions, we surely are not the first ones to come with that and lots of other projects would benefit from that too!

[2015-02-03 15:07] gforcada commented on #187
@jaroel circular dependency here though as p.r.codeanalysis is supposed to encode Plone's styleguide which, by now, is maintained here in plone.api :)

(sorry for the SPAM :)

[2015-02-03 15:07] jaroel commented on #206
@adamcheasley True, although I don't always have brains :)
@mattss Not a problem - neither is .folder.list_content().

Just let this sink for a bit, we'll check again in a few days :)

[2015-02-03 15:14] jaroel commented on #187
@gforcada true, true. *meh*

[2015-02-03 15:57] jaroel commented on #204
Different userids and usernames are really common.
People get married and get a different username (emailaddress or fullname). The userid usually stays the same.
Please do not assume username and userid are the same. They are not.

[2015-02-03 16:22] #168 closed, assigned to nobody

[2015-02-03 16:29] #172 closed, assigned to nobody

[2015-02-03 17:35] zupo commented on #93
That's exactly what we want to avoid. As you need to remember how to adapt context, which utilities to import, from where to import IUUID, etc.

[2015-02-03 17:40] jaroel commented on #197
Please review.

[2015-02-03 17:41] pbauer commented on #93
@zupo I don't get the ticket. api.content.get_uuid() does:

    return IUUID(obj)

what is wrong with that, why should it go away? We dont use

    obj.UID()

[2015-02-03 17:57] zupo commented on #93
The ticket proposes deprecating the api method, as one can now use context.UID() instead. In other words, the api method is superfluous.

Keep the documentation of how to get the UID in plone.api docs though.

[2015-02-03 18:17] jaroel commented on #194
Please review.

[2015-02-03 19:52] #194 closed

[2015-02-03 19:55] pbauer commented on #93
Wow, I misread your first comment (should work on my reading skills). :+1: for deprecating

[2015-02-03 21:45] jaroel opened #210 "Add content.find or content.query"
I'd like to abstract away portal_catalog by mapping portal_catalog.\__call__ to content.query or content.find.

So
[code]
instead of
[code]

We can also include context, as in 'find within this context'
[code]

Please discuss :)

[2015-02-03 21:55] jaroel commented on #93
Ok :)

[2015-02-03 22:38] jaroel commented on #82
I've done some work on this in https://github.com/plone/plone.api/tree/plip and will be resolved after the plip.

[2015-02-03 23:32] thet commented on #82
great!

[2015-02-04 08:39] adamcheasley commented on #210
+1
I like this idea. I think api.content.find is the perfect place for it. Would we pass all keyword arguments through to the catalog? e.g. I have a custom index and I want search based on that, like so:
[code]

[2015-02-04 09:44] gforcada commented on #210
:+1: on both p.a.find and custom indexes to be also being used!

[2015-02-04 10:15] jaroel commented on #210
Is is just a wrapper for the catalog, so *args and **kwargs should be passed to __call__ directly.
All functionality for catalog(*args, **kwargs) or catalog(my_dict) should work as expected.

[2015-02-04 10:46] #90 closed

[2015-02-04 12:46] #171 closed

[2015-02-04 14:36] #198 closed

[2015-02-04 19:05] jaroel opened #213 "Use p.a.contentlisting"
We should use p.a.contentlisting for methods that return objects or brains.
See #205 and the PLIP for merging p.a.contentlisting into P.CMFPlone: https://dev.plone.org/ticket/13283

Please discuss :)

[2015-02-04 20:58] #197 closed

[2015-02-05 06:29] davisagli commented on #210
Does it do a searchResults or unrestrictedSearchResults? What if I want the other one?

[2015-02-05 08:06] adamcheasley commented on #210
IMO it would do a searchResults. This is what I use probably 90% of the time. To do an unrestricted, I think you should still have to look up the portal_catalog with get_tool and call it there.

[2015-02-05 08:11] jaroel commented on #210
To bypass permission checks:
[code]
Or
[code]

[2015-02-05 09:27] gforcada commented on #210
The first approach (context manager) looks way more easy to understand for non-ploners IMO, looks way more pythonic and at the end it already self-documents itself that the results you will get from find are the objects that a manager can see.

Big :+1: !

[2015-02-05 14:47] jaroel commented on #210
It doesn't skip the expiration dates, though I think that's an edge case and out of scope.

[2015-02-05 17:00] davisagli commented on #210
Okay, those are both fine options for the unrestricted case. @jaroel I think the effective range filter can be bypassed by passing show_inactive=True if the user has the "View inactive content" permission

[2015-02-05 22:16] jaroel commented on #210
@davisagli show_all=1 and show_inactive=1: https://www.fourdigits.nl/blog/listing-expired-plone-content

I'll draft a first implementation.

[2015-02-06 08:32] jaroel commented on #206
If the object is the default content item of its container, this should return the link to the container.

[2015-02-06 08:32] jaroel commented on #206
I think there's a bit more logic than just ${context/absolute_url}.
I'll draft an implementation

[2015-02-07 20:37] hvelarde commented on #210
:+1:

[2015-02-08 16:08] jaroel opened #215 "Optional request arguments"
As a plone.api consumer I want a small as possible function signatures.
So
[code]
instead of
[code]

[2015-02-11 18:55] jaroel commented on #215
Won't fix. It's way too much hassle to deal with the edge cases. See @davisagli 's comment in #216.

[2015-02-11 18:55] #215 closed

[2015-02-12 15:46] jaroel commented on #210
This is implemented and merged.

[2015-02-12 15:46] #210 closed

[2015-02-12 19:41] jaroel commented on #213
Partially resolved in #214

[2015-02-17 06:59] gforcada opened #217 "Reconsider pkg_resources.DistributionNotFound"
@davisagli has made a point (and some numbers) regarding catching ``pkg_resources.DistributionNotFound`` being way slower than an ``ImportError``.

The styleguide clearly says the former, but should we reconsider it due to its slowness?

[2015-02-17 10:41] adamcheasley commented on #217
From looking at these numbers, I say we reconsider.

[2015-02-24 08:50] cedricmessiant commented on #204
+1

[2015-02-24 08:55] cedricmessiant commented on #204
We also had a problem once with the difference between userid and username. It would be nice to be able to use either username or userid/user_id

[2015-02-24 09:59] adamcheasley commented on #204
Out current work around is to first use `api.user.get` to lookup the user, as this takes either username or userid, then pass the user object into `api.user.get_roles`

[2015-02-27 11:06] gforcada opened #218 "style guide: __version__ support?"
See the discussion here: https://github.com/plone/Products.CMFPlone/commit/1b0f9cfe8947cb67bc4fd11760a653c3113e4b33

Do we want to encourage that on all packages as a best practice?

[2015-03-06 21:38] jensens opened #219 "any editor support for zca xml style?"
While going through code out in the wild, zcml is formatted in many different flavors. Now I looked for editor support, such as a plugin for $favorite editor.

Well, there is nothing. Bummer. Ok, looking at other editors, python and/or command line tools.
Also nothing which can be configured to output it the ZCA way. What tool did I miss?

The only tool I found is ``xml_pp`` contained in http://xm

[2015-03-06 21:40] jensens commented on #218
+1

[2015-03-06 22:05] gforcada commented on #219
At the end ZCML is just XML so we need to set some rules/styleguide (xslt to the rescue?) and we can turn that into both a styleguide recommendation here at plone.api documentation and some checks and formatters on plone.recipe.codeanalysis...

I do like the xml_pp output a lot, it has the two main features I like:
- one attribute per line
- clear indentation
- *could we add it as a bonus to sort

[2015-03-06 23:02] jensens commented on #219
It looks like it sorts the attributes. And yes, is a Perl script. Its for sure possible to port it. But don't underestimate the effort. I'd just use it as is, like we do with the js/css linters in code analysis.

[2015-03-06 23:13] hvelarde commented on #219
AFAIK, Perl is a write-only language ;-)

[2015-03-06 23:17] jensens commented on #219
I integrated the xml_pp tool in sublime. Gist and instructions here:
https://gist.github.com/jensens/4fc631616f5ef9ac4c6b

@hvelarde sure it is. But as long as I'am not the person in need to look at Perl code this is complety fine ;)

[2015-03-09 09:00] frisi commented on #219
-1 for sorting attributes alphabetically.

when registering a browser page for example, i'm more interested in which interface it's available for and how it is named.

[code]

instead of:

[code]

maybe that's just a matter of how people are used to do things...

when it comes to sorting attributes in css and jsregistry.xml (i know - that's not zcml and only relevant for plone < 5 - just in case s

[2015-03-09 09:39] jcbrand commented on #219
The nice thing about sorting is that it reduces cognitive load when writing the directive. You don't have to try and remember the correct order or even look it up somewhere, you just make sure that attributes appear alphabetically.

When looking things up, it's pretty trivial to do "find" in your editor and search by "name=", then you'll get the names of all browser views highlighted in the file.

[2015-03-09 09:53] jensens commented on #219
+1 for alphabetically. The problem with "more interested in first" is that everybody is interested in different things and so you'll find many different orders. so fullack to @jcbrand

[2015-03-09 10:24] adamcheasley commented on #219
+1 for alphabetically. As @jcbrand says, if we try to order them by some arbitrary measure of importance, you will spend the first few weeks having to go back and look up the correct ordering.

[2015-03-09 10:58] frisi commented on #219
i don't have a strong opinion on that.

i just think that it's not necessary to enforce attribute-sorting as suggested by @gforcada.

neither i wanted to say that everybody should follow the same order. @jcbrand: find also works for arbitrary sorted attributes.
in addition, figuring out the alphabetical order of attributes increases cognitive load (at lease for me personally ;-)

my point simply i

[2015-03-09 11:03] gforcada commented on #219
@frisi maybe I was a bit too strong on that, I just wanted to highlight that just like sorting imports is pointless, the same should be for attributes, there's no difference where they are, so get a quick way to not have to stress yourself on deciding the order, but instead just relax and let your tooling do it, or as you just copy and paste things you don't have to worry about their order anymore

[2015-03-09 12:51] jcbrand commented on #219
@frisi If you're doing it manually, you're doing it wrong. You should be using your editor to do the sorting.

[2015-03-09 12:52] jcbrand commented on #219
That said, it's ok with me if we don't force any particular order. My point was more that IF we force an order, alphabetic order makes the most sense to me.

[2015-03-09 16:23] davisagli commented on #219
-1 for do

David Glick
(mobile)

[2015-03-09 16:23] davisagli commented on #219
-1 for forcing an order

[2015-03-17 13:23] keul opened #220 "Differences by using catalog or api.content.find (at least with icons)"
Don't know if this is a know behavior and this is probably related to #214, but right now using...

    results = api.content.find(...)

returns a `ContentListing` collection, while using catalog...

    catalog = api.portal.get_tool(name='portal_catalog')
    results = catalog(...)

Returns lazymap items. The issue here is related to generating icons from search results.
Calling `plone_view.getIc

[2015-03-17 14:10] hvelarde commented on #220
for me this is a bug; the problem is the implementation is indeed [returning ContentListing](https://github.com/plone/plone.api/blob/master/src/plone/api/content.py#L565).

[2015-03-17 14:14] adamcheasley commented on #220
I agree. I would expect api.content.find to return a lazymap. It would be a simple fix, but we'd want to make sure we wouldn't be losing some functionality by not returning a ContentListing.

[2015-03-17 14:15] hvelarde opened #221 "Remove doctests from docstings"
IMO doctests just clutter docstrings and they don't provide neither good documentation, nor good tests.

I just saw that [api.content.find](https://github.com/plone/plone.api/blob/master/src/plone/api/content.py#L479) includes some doctests and I would prefer to remove them from there.

AFAIK, that's the only method implementing doctests in the whole package and I think they were not there when I

[2015-03-17 14:18] adamcheasley commented on #221
+1

I actually raised this when the pull request came in, but it was said that the doctests provide further functional documentation. As this is the only function with a doctest, I agree with removing it.

[2015-03-18 06:46] zupo commented on #221
Doctests have their place in this world. And the api.content.find is a very good example of how/when they should be used: not as tests, but as testable documentation.

I'm -1 for removing. Moreover, I'm +1 for adding such examples to other methods.

[2015-03-18 19:54] hvelarde commented on #221
:-1: for adding doctests to code; we already have tests for code on one side and narrative documentation with tests on the other; adding doctests will be completely useless, IMO:

* http://nedbatchelder.com/blog/200811/things_i_dont_like_about_doctest.html
* http://bemusement.org/narrative-tests
* http://bemusement.org/doctests-arent-code

[2015-03-19 09:49] adamcheasley commented on #221
I agree with @hvelarde. Adding further doctests would just be noise as far as I'm concerned.

[2015-03-23 11:43] frisi opened #222 "allow plone.api in restricted python scripts?"
just stumbled upon [a question on stackoverflow](http://stackoverflow.com/q/29201305/810427) today where a user wants to use plone.api to get the portal_catalog tool in a python script.

which lead me to start a short discussion whether we should care about usecases like this (and allow all api methods (or a subset) in restricted python) or just discourage the use of python scripts (and add docume

[2015-04-24 09:28] jaroel opened #223 "Support references"
Somehow get references and/or referenced objects.

For getting the objects, use `get_referred_from` and `get_referred_to`:

[code]

For getting the actual references, use `get_references_from`:

[code]

[2015-04-24 09:29] jaroel commented on #223
How would this work in Dexterity?

[2015-04-24 17:41] hvelarde commented on #217
:+1:

[2015-04-26 21:47] jaroel commented on #220
Or define an adapter for IContentListing to IContenIcon :)

[2015-04-26 21:53] jaroel commented on #221
They aren't tests, but code examples.
If they were tests, I'd actually have to check the output, right? ;)

[2015-04-27 07:35] keul commented on #220
@jaroel :+1:

[2015-04-27 12:20] hvelarde commented on #220
please do not start adding layer of complexity here; I think we need to clarify what are the differences between a list brains and a content listing collection; I though the original idea of having this method was to replace the direct call to the ``portal_catalog``. if that's the case then the implementation should return brains.

[2015-05-03 18:51] gforcada opened #225 "Provide a machine readable list of old-new usages"
In plone.app.mosaic @datakurre wondered if plone.recipe.codeanalysis was providing some linter to check if old-ways of doing things could be replaced by plone.api calls. It doesn't (https://github.com/plone/plone.recipe.codeanalysis/issues/118).

There @saily suggested that instead of hard-coding them on p.r.codeanalysis, it could fetch some XML/JSON/CSV from plone.api itself where it was describe

[2015-05-04 20:19] saily commented on #187
Can we finalize this? I'd like to release `plone.recipe.codeanalysis 2.0` as Plone 5 ready. I don't care how to sort it, i just want to know the rule we should verify against. @jensens, @tisto, can you take that into a FWT meeting?

[2015-05-04 20:19] tisto commented on #187
Will do...

[2015-05-06 14:36] pbauer opened #226 "send_email need to be updated to work with Plone 5.0b2"
since mail-setting are stored in the registry from 5.0b2 plone.api needs to look there instead of doing stuff like ``portal.getProperty('email_from_address', '')``. The sensible thing to do would be check for email-settings in the registry and have a fallback to portal-properties, right?

[2015-05-06 18:28] hvelarde commented on #226
:+1:

[2015-05-07 15:11] jensens opened #228 "send_email does not work with PrintingMailHost w/o MailHost configured"
In development scenarios Products.PrintingMailHost helps a lot.
But ``send_email`` does not work with it unless a Mailhost is configured in the registry. In dev, when one trashes all the time the database this is annoying.

The configuration check is great, but we may want to disable it if Plone is in debug-mode?

[2015-05-08 07:23] jensens commented on #226
+1 and I also think a fallback to the old place is a good idea.

[2015-05-08 07:57] gforcada commented on #226
Let's add a deprecation notice though.

So we can grep for them later on and remove the fallback code at some point, and not keep them forever :)

@jensens I remember reading a FWT notes and some mails from you about deprecation warnings, was there any consensus/docs about it on how to proceed?

[2015-05-08 08:01] pbauer commented on #226
Fixed in #226. Sorry I did not link the pr to this ticket.

[2015-05-08 08:27] jensens commented on #226
ok, i think i need to prioritize this task higher to get it done!

! OT

For this kind of in-code problems python warnings are the right thing::

    import warnings
    def foo(bar):
        baz = newandhip.get(bar, None)
        if baz is None:
             warnings.warn("fetch from old and busted, use new and hip!", DeprecationWarning)
             baz = oldandbusted.get(bar, None)

see also th

[2015-05-08 08:31] #226 closed

[2015-05-10 21:26] zupo commented on #228
+1

[2015-05-10 23:01] gforcada commented on #228
:+1: maybe checking specifically for P.PrintingMailHost being around would be cleaner? I can imagine someone trying to send real emails from a debug instance (maybe crazy, but worse things can be seen on the wild...)

[2015-05-11 04:35] jensens commented on #228
+1 @gforcada - good point

[2015-05-14 12:08] jaroel commented on #157
This should be fixed in #209

[2015-05-14 12:08] #157 closed

[2015-05-14 12:15] jaroel opened #230 "Replace bare try..except"
The bare try..except's must be replaced with catching only the specific exception, so the underlying errors are shown.

For example: if one has an error in a view's \__init\__, get_view will say the view doesn't exist, but in reality the view raises AttributeError.

[2015-05-14 19:05] rodfersou opened #231 "Javascript should have 4 spaces for indent"
Come-on guys we are from Python world, legibility counts, I don't agree to use 2 spaces as indentation for any code file..

http://docs.plone.org/external/plone.api/docs/contribute/conventions.html#editorconfig

In the end it will be compressed on production, so there is no problem to add more spaces as indentation!

[2015-05-14 19:06] hvelarde commented on #231
:+1:

[2015-05-15 06:16] tisto commented on #231
Why should we use Python best practices in Javascript? Last time I checked 2 blanks were the way to go in the Javascript community.

2 blanks are in no way less readable than 4 blanks. I'm not aware of any research that would support that claim. Compression was never a pro argument either.

If you want to change our best practice (we already had a long discussion about that, please check the issue

[2015-05-15 06:54] tisto commented on #231
A few links about 2 vs 4 tabs in the JS community:

https://seravo.fi/2013/javascript-the-winning-style
https://github.com/feross/standard
http://atroche.org/post/30994290348/javascript-indentation

[2015-05-15 11:54] miohtama commented on #231
Though I personally would prefer 4 spaces, I find the resources and the majority voting for 2 spaces in JS. JS is often nested callback spaghetti, so maybe they have some sense here.

Well, time to adjust my editor then!

[2015-05-15 15:06] hvelarde commented on #231
I think evidence is incontestable, @rodfersou :cactus:

[2015-05-18 12:48] rodfersou opened #232 "Write a method that shows the list of tabs or selected tab of plone admin interface?"
I was studding [this code](https://github.com/plone/plone.app.layout/blob/master/plone/app/layout/viewlets/common.py#L305), and I think it is possible to change it into some methods that list all tabs available and the current tab.

![currenttab](https://cloud.githubusercontent.com/assets/131209/7681069/ed749474-fd42-11e4-9657-1502c8e7d99f.png)

What do you think? is it an interesting contribution

[2015-05-18 12:55] adamcheasley commented on #232
Personally, I don't think I've ever needed code to list the available tabs from the edit toolbar. I therefore don't think this falls under the remit of plone.api.

[2015-05-18 13:37] jaroel commented on #232
Hi Rodrigo,

Thanks for your interest. The API for getting actions should be clean enough for now.
For example, see https://github.com/plone/plone.app.content/blob/master/plone/app/content/browser/reviewlist.py#L131 .

[2015-05-18 13:44] rodfersou commented on #231
I think it is easy to talk to follow the best practices language when you just write one language code, but if you switch from Python to Javascript many times, this is not good for your brain.

I'm talking about readability, not fighting with other communities best practices.

But I understand your position @tisto and respect even if it will be a PITA for my eyes.

[2015-05-18 13:45] #231 closed

[2015-05-18 13:47] rodfersou commented on #232
@jaroel and how can I get the current action?

[2015-05-18 14:41] jaroel commented on #232
https://github.com/plone/plone.app.layout/blob/master/plone/app/layout/viewlets/common.py#L357

[2015-05-18 14:41] #232 closed

[2015-05-18 14:44] rodfersou commented on #232
@jaroel I have a use case here that I have to load one JS resource just on view tab (doesn't matter if it is the default view or other one, just shoud not be the other tabs - edit / sharing / etc..)

If you read the code you saw, it is not that simple to know if you are into view tab..

[2015-05-18 15:31] jaroel commented on #232
Please open a thread at https://community.plone.org/.

[2015-05-18 18:05] djowett commented on #232
Try using Diazo....

<rules css:if-content="#edit-bar #contentview-view.selected">
      // load JS resource here
</rules>

Or, better, always load the JS resource through the JS registry
and use JQuery to selectively activate it:

if ($("#contentview-view.selected").length > 0){
     // activate JS resource

}

On 18/05/15 15:44, Rodrigo Ferreira de Souza wrote:

--
Daniel Jowett

*Jowett Enterpr

[2015-05-18 18:25] rodfersou commented on #232
@djowett I toughs about it at first, but my requirement was to make this happen into server side, not client side.

Well.. in the truth I already did [one implementation](https://github.com/collective/collective.glossary/blob/master/src/collective/glossary/browser/views.py#L108) that works.. I went here just to see if someone else needs this check and if I can help with some code at plone.api.

[2015-05-19 11:28] djowett commented on #232
Ah, fair enough to offer...

[2015-05-19 13:51] jaroel commented on #222
We haven't done a security check, so plone.api might import modules that allow you to escape the RPython sandbox.

Write a browserview that returns plone.api for now :)

If you still think this is a good idea, please re-open the ticket and make sure the security check gets done ;)

[2015-05-19 13:51] #222 closed

[2015-05-22 11:22] hvelarde opened #233 "Define best practices and conventions for contributing and code coverage"
Coveralls integration in GitHub allow us to define a threshold for a build to fail.

![selection_001](https://cloud.githubusercontent.com/assets/341393/7769602/848b4702-005b-11e5-8da5-229687b1fd5c.png)

Normally that value is empty and every commit that decreases by any value the test coverage will be marked as a failure.

![selection_002](https://cloud.githubusercontent.com/assets/341393/7769598/

[2015-05-22 12:01] adamcheasley commented on #233
+1

[2015-05-22 12:02] gforcada commented on #233
Plone core distributions are not being tested for coverage (pull requests and commits welcome), so we need first to add it on our jenkins.plone.org, but for collective or other packages sure.

[2015-05-24 20:34] jaroel commented on #220
Or use result[0].getIcon()

[2015-05-26 15:46] hvelarde commented on #187
I asked advice from the UX experts: http://ux.stackexchange.com/q/79259/46964

[2015-05-27 15:10] hvelarde commented on #187
Now that we have [evidence that non-case sensitive sorting is better](http://ux.stackexchange.com/a/79266/46964), can we move on with this ticket and bring back original convention?

[2015-05-27 16:31] jensens commented on #187
in other words we fix the documentation to prefer the use of non-case-sensitive sorting. that's what i prefer too.
:+1:

[2015-05-29 12:43] hvelarde opened #236 "Travis CI configuration error leads to package only being tested under Plone 4.3"
In [.travis.yml](https://github.com/plone/plone.api/blob/1.3.2/.travis.yml#L20) you can see the following lines:

[code]

but in [buildout.cfg](https://github.com/plone/plone.api/blob/1.3.2/buildout.cfg) that matches nothing:

[code]

[2015-05-29 12:43] hvelarde commented on #236
I'm the one to blame here: 83e72fe14d2352e041713d2ae4c6aa5657aeb236

[2015-05-29 13:12] hvelarde opened #237 "API not compatible with Plone 4.1"
There are some tests failing: https://travis-ci.org/plone/plone.api/jobs/64567653

[2015-06-01 09:23] adamcheasley commented on #237
Looks like we're trying to adapt a list to IContentListing. This might be a difference in how search results are returned in older versions of Plone? I'm just guessing at the moment, but I'll see if I can take a closer look at some point this week.

[2015-06-01 10:44] hvelarde commented on #237
can anybody explain me what are the benefits of adapting the catalog results to ``IContentListing``?

I think the find method is a fantastic enhancement to the API, but it seems to me that using ``plone.app.contentlisting`` will break compatibility with Plone 4.0 also.

[2015-06-01 10:54] adamcheasley commented on #237
I have to agree. I think this was discussed on another thread somewhere, but I personally don't see the benefit in adapting the results.
I'm +1 for removing this.

[2015-06-01 16:21] zupo commented on #237
Shall we have api.content.find (returns brains)  AND api.content.list (returns IContentListing)?

[2015-06-09 19:16] jaroel commented on #237
I'll remove the IContentListing adapter from master.

[2015-06-09 21:02] #236 closed

[2015-06-09 21:03] jaroel commented on #220
Resolved, see #237

[2015-06-09 21:03] #220 closed

[2015-06-09 21:10] #221 closed

[2015-06-09 21:12] jaroel commented on #221
They are examples on how to call this function that show when you use function.func_doc.

[2015-06-09 21:14] jaroel commented on #180
I need someone to make the tests work in buildout.coredev.

[2015-06-09 21:27] jaroel commented on #233
What needs to be done, and who is going to do this?

[2015-06-09 21:27] jaroel commented on #228
What needs to be done, and who is going to do this?

[2015-06-09 21:36] jaroel commented on #219
No way on sorting attributes.

[2015-06-09 21:36] jaroel commented on #219
What needs to be done, and who is going to do this?

[2015-06-09 21:42] jaroel commented on #225
I'd suggest to build a static linter first. If we have loads of changes all the time, we'll make it dynamic :)
Sounds good enough?

[2015-06-09 21:52] jaroel commented on #218
-1
- People expect the version in setup.py.
- pkg_resource is a good enough api, when you need to know this programmatically. ie the version of the project, not the module.
- existing tooling cannot use __version__ in a module without additional configuration.

[2015-06-09 21:53] jaroel commented on #217
What needs to be done, and who is going to do this?

[2015-06-09 21:57] jaroel commented on #213
Removed due to Plone 4.x compatibility.
Probably won't fix this.

[2015-06-09 21:59] jaroel commented on #204
What needs to be done, and who is going to do it?

[2015-06-09 22:11] jaroel commented on #192
What needs to be done, and who is going to do it?

[2015-06-09 22:11] jaroel commented on #189
What needs to be done, and who is going to do it?

[2015-06-09 22:11] jaroel commented on #188
What needs to be done, and who is going to do it?

[2015-06-09 22:12] jaroel commented on #181
What needs to be done, and who is going to do it?

[2015-06-09 22:12] jaroel commented on #162
What needs to be done, and who is going to do it?

[2015-06-09 22:13] jaroel commented on #160
What needs to be done, and who is going to do it?

[2015-06-09 22:13] jaroel commented on #158
What needs to be done, and who is going to do it?

[2015-06-09 22:13] jaroel commented on #150
What needs to be done, and who is going to do it?

[2015-06-09 22:14] jaroel commented on #149
What needs to be done, and who is going to do it?

[2015-06-09 22:14] jaroel commented on #99
What needs to be done, and who is going to do it?

[2015-06-09 22:14] jaroel commented on #93
What needs to be done, and who is going to do it?

[2015-06-09 22:16] jaroel commented on #202
api.plone.org already points to docs.plone.org, so yes :)
Could you check/merge #239?

[2015-06-10 09:36] #230 closed

[2015-06-10 09:46] adamcheasley commented on #204
IMO, what needs to be done is we should change the signatures of every function (except possibly `api.user.create`) that accepts `username` to also accept `userid`, as @zupo suggests.
I should be able to look at this at some point.

[2015-06-10 09:47] adamcheasley commented on #162
Nothing needs to be done. I've already implemented the feature.

[2015-06-10 09:47] #162 closed

[2015-06-10 10:11] hvelarde commented on #237
This was not completely fixed as you can see here: https://travis-ci.org/plone/plone.api/jobs/66190312

[2015-06-10 10:13] hvelarde opened #240 "API not compatible with Plone 4.0"
As you can see here: https://travis-ci.org/plone/plone.api/jobs/66190311

[code]

[2015-06-10 10:38] hvelarde opened #241 "Tests failing under Plone 5.0"
As you can see here: https://travis-ci.org/plone/plone.api/jobs/66192264

Probably an issue with tests setup.

[2015-06-10 10:45] #202 closed

[2015-06-10 11:35] jensens commented on #219
label is "question" - by intend - so this was a question. there are answers and opinions in here. So "What needs to be done, and who is going to do this?" makes not that much sense.

[2015-06-10 11:36] #219 closed

[2015-06-10 11:42] jensens commented on #228
@jaroel I'd say @gforcada for checking specifically for ``Products.PrintingMailHost`` and when there disabling the check is the task. An easy task. I can do this but have no time in next future to do so. Any volunteers welcome!

[2015-06-10 12:01] jensens commented on #218
@jaroel i think you did not get the point:

the idea is to still declare the version in setup.py - but expose it as a variable in ``__init__.py`` like so::

    __version__ = pkg_resources.require("Products.CMFPlone")[0].version

as you can see in the above. this is pure convenience.

[2015-06-10 15:34] jaroel commented on #218
It does mean that when you import the module, pkg_resources.require is called. Which has the same implications as #217

[2015-06-10 15:42] adamcheasley commented on #218
@jaroel from my understanding of #217, `pkg_resources.DistributionNotFound` has been shown to be slower than `ImportError`. It didn't seem to be implying that we cannot use `pkg_resources.require`.

[2015-06-10 15:45] jaroel commented on #218
As in, it is an performance hit. It still is a function call + some lookup.

[2015-06-10 15:50] jaroel commented on #218
So, when you want to know the version of a package, you need to do two things:
1. Check if the package supports the \__version__ alias
2. Use this code:
[code]

Or, what works for everything:
[code]

[2015-06-10 15:51] jensens commented on #217
If I can choose between minor performance impact at import time vs. not hiding circular imports et al:
I take the latter. Lets keep it using ``pkg_resources.DistributionNotFound``.

[2015-06-10 15:51] jaroel commented on #218
This better be a really nice bikeshed. ;)

[2015-06-10 15:55] jensens commented on #218
ack :)

[2015-06-10 15:56] jaroel commented on #218
;)

[2015-06-10 15:56] #218 closed

[2015-06-10 15:57] jensens commented on #218
and there is even a pep around this http://legacy.python.org/dev/peps/pep-0396/

[2015-06-10 19:33] #189 closed

[2015-06-11 08:48] adamcheasley commented on #160
I think we have a pretty clear plan. If I manage to get #204 done in the next couple of weeks, I will take a look at this one too.

[2015-06-12 16:38] jaroel commented on #217
+

[2015-06-12 16:38] #217 closed

[2015-06-14 14:04] jaroel commented on #228
I have no idea on how I can test this without un-patching and patching the PrintingMailHost patches.

[2015-06-16 06:59] zupo commented on #217
I support @jensens view.

[2015-06-17 12:39] gforcada commented on #180
@jaroel which tests do you mean?

[2015-06-17 13:19] jaroel commented on #180
The Plone 5 job on travis. When that works, the plip tests should run too.

[2015-06-18 13:19] jaroel commented on #228
This is resolved in #244

[2015-06-18 13:19] #228 closed

[2015-06-18 13:20] jaroel commented on #213
If we need to unify brains/objects, this is the way to go.
Closing this for now.

[2015-06-18 13:20] #213 closed

[2015-06-19 10:33] zopyx opened #245 "content.get_state() documentation error."
Besides ValueError(no idea when this is raised)

    plone.api.content.get_state()

raises

    <class 'Products.CMFCore.WorkflowCore.WorkflowException'>

in case when no workflow is associated with the content object (e.g. File or Image).

[2015-06-21 13:00] jaroel opened #246 "plone.api.content.get_state should handle objects without a workflow definition."
Products.CMFCore.WorkflowCore.WorkflowException is raised when there is no workflow definition for the object.
This make the current abstraction leaky, ie the client code needs to handle the exception and we therefor cannot replace the underlying workflow engine.

The implementation should check that there really is no workflow is associated with the content object, instead of just catching the ex

[2015-06-21 13:02] jaroel commented on #245
Thanks, this bug report made obvious that get_state is leaky and incomplete.
I've filed a bug report for this: #246 .

I'll fix the docs for now.

[2015-06-21 13:11] jaroel commented on #245
I don't think it actually raises a ValueError, so I'll replace that too.

[2015-06-21 15:06] jaroel commented on #246
Passing in a default value doesn't affect existing code, but allows cleaner new code:
[code]

[2015-06-21 15:10] jaroel commented on #245
This is fixed by #247.

[2015-06-21 15:10] #245 closed

[2015-06-21 16:03] jaroel commented on #246
Does this look sane?

[2015-06-21 16:31] jaroel opened #248 "The parameter validation decorators should be reworked."
Parameter validation is currently handled by function decorators. This has the following downsides:
1. Required parameters are defined with '=None'.
This  is really non-pythonic and unhelpful to IDEs and (more) experienced programmers.
Required arguments should never have a default value.

2. Debugging the function calls is more-or-less impossible.
If you try to PDB into an plone.api function, the

[2015-06-21 16:32] jaroel commented on #248
Point 1 is easily fixed by remove the '=None' for required parameters.
Point 2 can be resolved by moving the decorators' functionality inside the functions.

[2015-06-21 20:24] jaroel opened #249 "plone.api.portal.get_registry_record dumps all registry entries."
plone.api.portal.get_registry_record dumps all registry entries when a non-existing key is passed in.
In Plone 5 this is a list of 1500+ items, including all plone.resources settings etc.

The list shown should be reduced to something like
[code]

[2015-06-21 20:48] jaroel commented on #249
This is also a performance hit: get_registry_record is used in send_mail and set_registry_record too.

[2015-06-21 21:53] #241 closed

[2015-06-23 10:09] adamcheasley commented on #246
Looks sane to me!

[2015-06-24 09:54] #249 closed

[2015-06-25 11:05] #237 closed

[2015-06-26 13:57] jaroel opened #254 "plone.api should work with brains too."
I'd like to pass content.find directly into content.delete
so content.delete should do brain.getObject for me.

[code]

instead of

[code]

[2015-06-26 14:06] adamcheasley commented on #254
`api.content.find` should continue to return brains. This is for performance.

Most of the function signatures on accept objects. I don't see one that accepts brains. If we were going to make a change, I would say we'd allow a list of ids to be passed to `api.content.delete`

[2015-06-27 16:51] jaroel commented on #254
In the end I want plone.api to do the work for me. Brains are a first class citizen, so plone.api should work with that OOTB.
I should never have to write a list comprehension (like in the example above) just to get the objects, and pass that to plone.api. That's just stupid.

[2015-06-27 16:57] jaroel commented on #254
Passing a list of ids won't work because we need a context then. See #198 and https://github.com/plone/plone.api/blob/master/src/plone/api/content.py#L280.
So that's a no-go unfortunately.

[2015-06-27 19:12] jaroel commented on #206
This should probably accept an uuid.
[code]

[2015-06-27 21:18] jaroel opened #255 "Missing docs for plone.api.user.get_roles:inherit"
There's no docs on what 'inherit' does or on how to use it.

[2015-06-28 11:41] jaroel opened #256 "plone.api.groups uses groupname instead of groupid"
There's no such thing as a groupname, it is groupid.
There might be a title for a group, but that's a different thing.
For example, `plone.api.group.create` uses `group_tool.getGroupById(groupname)`.

[2015-06-28 11:46] jaroel commented on #180
plone.api is now tested in Plone 5 on travis-ci, and there's a PLIP job on jenkins.plone.org/view/PLIPs/job/plip-20114-plone.api-integration/.

[2015-06-28 11:48] jaroel commented on #180
Someone needs to check all functions and make sure they are consisted and correct, ie userid vs username, groupid vs groupname.

[2015-06-28 11:52] jaroel commented on #240
Closed in #253

[2015-06-28 11:52] #240 closed

[2015-06-29 09:28] adamcheasley commented on #254
I understand what you're saying. If we decide to go down this road, then for consistency I suggest that we change any function that accepts objects to also accept brains.

What do others think?

[2015-07-07 17:18] jaroel commented on #82
I've declared all dependencies that make sense.
Some dependencies are not explicitly specified because they aren't eggs in older Plone/Zope version.

[2015-07-07 17:18] #82 closed

[2015-07-09 10:56] tomgross opened #258 "content.create should notify creation events"
content.create should notify IObjectAddedEvent and / or  IObjectCreatedEvent
maybe other DX / AT creation / adding events?

this is useful for triggering indexing for example.

[2015-07-10 10:36] adamcheasley commented on #258
Yes I think you're right. It looks like calling processForm will notify ObjectInitializedEvent, but from what I can see, IObjectAddedEvent is not notified anywhere.

[2015-07-10 10:47] mattss commented on #258
As far as I know, IObjectAddedEvent and IObjectCreatedEvent are pretty low-level events that are fired by zope under the hood. We use plone.api a *lot* now and would have hit serious issues if these events were not fired when using it. @tomgross Do you have any example code or tests to show this isn't happening?

[2015-07-10 10:49] adamcheasley commented on #258
It appears that the OFS ObjectManager notifies these events. I'm assuming this would happen for both DX and AT types created with plone.api.

[2015-07-10 12:36] tomgross commented on #258
According to collective.indexing.subscribers.zcml should be indexed on IObjectCreatedEvent, which was not the case when using plone.api.content.create for DX content (processForm is an AT thingy)

[2015-07-10 13:14] adamcheasley commented on #258
It appears that OFS does not notify the IObjectCreatedEvent. It looks like these are fired by Products/CMFCore/TypesTool.py in the `FactoryTypeInformation` class. Now I thought this class was used by DX too, but maybe I'm wrong.

[2015-07-10 13:53] mattss commented on #258
@tomgross if you are using collective.indexing then you won't get reindex events until the transaction boundary. Is that what you are seeing?

[2015-07-10 15:47] adamcheasley commented on #160
What exception would be best to raise here? AccessControl.Unauthorized?

[2015-07-10 19:39] rodfersou commented on #20
more about this:

    ➜  ./bin/instance -O Plone debug
    Starting debugger (the name "app" is bound to the top-level Zope object)

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "<string>", line 2, in get_localized_time
      File "/srv/cache/eggs/plone.api-1.3.2-py2.7.egg/plone/api/validation.py", line 70, in wrapped
        return f(*args, **kwargs)

[2015-07-10 20:17] rodfersou commented on #20
Also the site pointed in the exception is not the right place of the exception documentation https://ploneapi.readthedocs.org/en/latest/api/exceptions.html#plone.api.exc.CannotGetPortalError

[2015-07-10 21:07] jaroel commented on #160
Works just fine on master:

[code]

[2015-07-10 21:10] jaroel commented on #160
We'd better add additional helpful info to the original exception by checking the permissions 'cmf.AddPortalContent' and the permission defined in the contenttypes' FTI.add_permission.

See http://stackoverflow.com/questions/9157210/how-do-i-raise-the-same-exception-with-a-custom-message-in-python for an example on replacing the message.

[2015-07-10 21:18] jaroel commented on #160
Perhaps you could provide a test that shows what is happening to you?

This test shows that content.create raises an Unauthorized:
[code]

[2015-07-13 09:30] adamcheasley commented on #160
I will stop development on this until we can confirm the issue.

[2015-07-13 15:38] #246 closed

[2015-07-13 16:09] pbauer commented on #255
@cillianderoiste Since your wrote it (https://github.com/plone/plone.api/pull/147) you might be the best person to document it.

[2015-07-13 16:20] pbauer commented on #254
@adamcheasley :+1: for getting all methods that work with objects to also work with brains. One condition is that is should work with any type of brain. We might assume that every item that has a getObject-method is 'brainish' (collective.solr does not return brains but flares).

[2015-07-13 16:24] adamcheasley commented on #254
I would have thought that the definition of a brain is an object that implements the ICatalogBrain interface (which defines the getObject method). Do you know if 'flares' implements this interface?

[2015-07-13 16:25] pbauer commented on #254
That's the whole point. They don't.

[2015-07-13 16:27] adamcheasley commented on #254
In that case I don't see that supporting them really falls under the remit of plone.api. If we go down this route, how many other "brain like" objects might we have to support?

[2015-07-13 16:45] pbauer commented on #254
Since collective.solr patches searchResults of portal_catalog ``api.content.find`` will return the query from solr. It would be weird if plone.api would stop working if you install collective.solr. I doubt that collective.elasticsearch and ploneintranet.search return objects that implement ICatalogBrain. But they probably have a getObject-method.

[2015-07-13 17:25] hvelarde commented on #254
@pbauer IMO that is a mistake and I think @adamcheasley is right: checking for the implementation of an interface is a well known software design pattern

[2015-07-13 17:27] pbauer commented on #248
:+1: for removing the decorators. They are nice when programming plone.api but really annoying when using and debugging it.

[2015-07-13 17:53] jaroel commented on #254
There's no interface for just getObject, so checking for getObject is just fine. :)

[2015-07-14 08:13] jcbrand commented on #254
Duck-typing (i.e. checking for getObject) is also a well known design pattern.

[2015-07-14 08:49] jaroel commented on #254
@hvelarde, checking for the interface does not guarantee that the object actually implements 'getObject'.
If you're checking for the implementation of an interface, you are doing duck-typing. ;)

You probably meant checking if the object provides an interface, right?

Assuming an object is a brain, when it has 'getObject' is just fine IMHO :)

[2015-07-14 14:01] jaroel opened #261 "Change "e-mail" to "email""
See https://github.com/plone/Products.CMFPlone/issues/622

[2015-07-14 14:15] jaroel commented on #180
#204 is a blocker for this.

[2015-07-14 14:18] adamcheasley commented on #204
Sorry, I've been too busy to look at this one recently. Anyone should feel free to take it on.

[2015-07-14 14:28] jensens commented on #204
the whole naming is crap, usally we have in authorization systems a login and a userid, and thats the confusion.
BUT PAS itself uses the terms userid and username, where username is used for login.
https://github.com/zopefoundation/Products.PluggableAuthService/blob/master/Products/PluggableAuthService/interfaces/authservice.py#L30

THEN PAS uses the term login in its credentials, see
https://gith

[2015-07-14 14:35] pbauer opened #262 "Document version in which a method was added, removed or changed"
The docs mention features that were not released (e.g. http://docs.plone.org/external/plone.api/docs/content.html#find-content-objects)

[2015-07-14 14:44] jaroel commented on #204
YES! Awesome! :dancer:

[2015-07-14 14:54] pbauer commented on #204
:+1:

[2015-07-14 16:35] hvelarde commented on #160
done, please review and merge.

[2015-07-15 11:56] jaroel commented on #262
The docs should be generated from the latest tag, not master.

[2015-07-16 13:42] hvelarde commented on #160
@gforcada why did you close the issue? the problem is still there as my branch shows.

[2015-07-19 16:13] jaroel commented on #204
Any takers? I would really love to see this resolved before shipping plone.api with Plone 5.

[2015-07-20 16:56] jaroel commented on #204
See https://github.com/plone/plone.api/compare/userid_everywhere

[2015-07-20 21:16] jaroel commented on #160
I've got an implementation in this branch: https://github.com/plone/plone.api/tree/content-create-check-permission
I think I can get this in plone.dexterity instead of here.

[2015-07-22 19:19] davisagli opened #265 "`plone.api.content.transition` does not reindex new state and permissions"
`plone.api.content.transition` does not reindex allowedRolesAndUsers or review_state, so it leaves the catalog inconsistent with the new state.

At the least we should mention this in documentation. Possibly we should make `transition` call reindexObject(idxs=['allowedRolesAndUsers', 'review_state']), though we might want a way to opt out of that in case it's called from code that is also making o

[2015-07-23 09:37] adamcheasley commented on #265
Good spot!

[2015-07-23 10:59] adamcheasley commented on #265
I dug into this a little further. `plone.api.content.transition` mostly uses `doActionFor` on the workflow tool. This in turn calls `_reindexWorkflowVariables` which appears to reindex the indexes above and also calls `reindexObjectSecurity`.

[2015-07-28 12:05] jaroel commented on #160
The permission check is done in https://github.com/plone/plone.dexterity/pull/38

[2015-07-28 12:07] hvelarde commented on #160
@jaroel cool!

[2015-07-30 08:13] ale-rt opened #266 "object_provides should accept tuple"
If the passed value for object provides is a tuple you get this error:
[code]

This is solved by casting the tuple to list:
[code]

I would do this somewhere around this line:
 - https://github.com/plone/plone.api/blob/46a6736a56c9b0f8075fafd5882ce72481c4da70/src/plone/api/content.py#L552

[2015-07-30 15:38] #266 closed

[2015-08-03 05:09] djay opened #268 "security assertions so can be used from restrictedpython"
see http://docs.zope.org/zope2/zdgbook/Security.html#implementing-security-in-python-products

[2015-08-07 13:35] jaroel commented on #204
See https://github.com/plone/plone.api/tree/204_username_to_login

[2015-08-15 22:56] gforcada commented on #225
Good enough: https://pypi.python.org/pypi/flake8-plone-api consider it totally **alpha** I just made up the replacements by looking at which (weird) methods where being used on the implementation of each plone.api method.

Suggestions and pull requests welcome.

[2015-08-15 22:56] #225 closed

[2015-08-16 10:38] jaroel commented on #225
A quick test run on some client code shows it works like a charm!
Awesome!

[2015-08-16 13:37] gforcada opened #269 "Allow [sg]et_registry_record to get an optional interface"
I add my records to the registry via a Interface, then to retrieve them back I use:

[code]

It would be great if plone.api allows me to do the same:

[code]

Sounds good/desirable? Wording of course up to debate :-)

[2015-08-16 17:31] jaroel commented on #160
This is fixed in plone.dexterity >= 2.3.3

[2015-08-16 17:31] #160 closed

[2015-08-16 19:02] jaroel opened #270 "Rename 'username' to 'login'?"
In issue #204 @jensens proposed renaming 'username' to 'login' to differentiate more between the username/email and the userid.
I've done some work on https://github.com/plone/plone.api/compare/204_username_to_login already.

[2015-08-17 10:13] mauritsvanrees commented on #270
+1, looks good at first glance. Agreed on renaming username to login.

What's with the email parameter? Where is that used? If this parameter is used for getting a user with a certain email address, this will only work when email is used as login. If that is not the case, then you cannot find a user by email address, so having an email parameter would be misleading. I would be in favor of renaming

[2015-08-17 14:16] jaroel commented on #270
The email parameter is in `plone.api.user.create`.

[2015-08-17 15:15] mauritsvanrees commented on #270
Ah, right.

I would actually change username to userid there. Then in all cases the resulting user will have the userid that you have given. plone.api then just passes that to addMember. Only if email is used as login name, do we check for an email address.

Well... This is tricky. Both login and userid may be useful. And I guess that is true for all of the functions where we currently accept a us

[2015-08-17 17:20] jaroel commented on #270
Yes, I ran into the same issue. I hadn't written it out, though.
I'm not convinced we should do this, now I see some more code.

[2015-08-17 17:28] jaroel opened #271 "Rework generating userid in user.create"
As @mauritsvanrees pointed out in  https://github.com/plone/plone.api/issues/270#issuecomment-131858100 .
See https://github.com/plone/plone.app.users/blob/2.3/plone/app/users/browser/register.py#L137

[2015-08-17 17:29] jaroel commented on #271
Just generate a uuid?
https://github.com/plone/plone.app.users/blob/2.3/plone/app/users/browser/register.py#L167

[2015-08-18 01:03] hvelarde commented on #269
+1 awesome!

[2015-08-25 16:25] jaroel commented on #180
The workaround with getting the user and passing it in is acceptable to me.

[2015-09-02 13:26] jaroel commented on #268
We haven't done a security check, so I'm hesitant to do this atm.
I think we could do a browserview that exposes the modules' functions -i.e.
(@@api.content).get- as long as we don't expose the modules?

[2015-09-02 19:49] hvelarde commented on #268
-1 that would slow down the whole api thing

[2015-09-03 12:17] mauritsvanrees commented on #268
Well, python expressions in templates are also restricted python, and accessing some plone.api functions from within templates may make sense. For example: get a user by id and show some info in the template.  We already have `plone_portal_state` and `plone_context_state` and `plone` browser views. Some plone.api browser view could be useful. If we find ourselves all the time creating one-line met

[2015-09-03 14:40] davilima6 commented on #268
RPython is too useful to discard, eg: ZMI, PFG, FacetedNav.

+1 on a single browser view, initially for read operations and then permission checked writes, until eventually deprecating the other context helpers (context_state, portal_state, plone_tools and plone_view).

[2015-09-03 14:50] djay commented on #268
Python scripts and restricted python is hugely important. systems like plomino is what sets plone apart. I think the whole api should be accessible from restricted Python not just a cut down version of it.

[2015-09-03 16:35] jaroel commented on #268
Try this and plone.api itself in client projects and see if you can abstain yourselves from putting all business logic in templates again. I recommend highly against this, though.

Personally, I just create a helper view. Most times I need more than just and plone.api call. AFAIK in the ZMI, PFG, and most RPython tal:conditions you already have context, container, user and some more stuff.

[code]

[2015-09-03 16:36] jaroel commented on #268
And documentation and a security check please :)

[2015-09-03 17:36] hvelarde commented on #268
+1 on the browser view; I think @jaroel code looks interesting

[2015-09-08 09:30] jaroel commented on #180
plone.api is added as a dependency for Products.CMFPlone. https://github.com/plone/Products.CMFPlone/pull/873

[2015-09-08 09:38] zupo commented on #180
:beers:

[2015-09-08 10:34] tisto commented on #180
Awesome!!! Though, the build is broken now. http://jenkins.plone.org/job/plone-5.0-python-2.7/2358/changes#detail0

[2015-09-08 11:01] pgrunewald commented on #99
I am also interested in getting this issue solved.

Maybe we could use the `values` parameter of processForm and populate it with dictionary containing `title` (if present) and all other passed data from kwargs. That way the request object is not consulted, when retrieving potential form data.

[2015-09-08 11:41] jaroel commented on #180
I noticed.

[2015-09-08 11:44] jaroel commented on #180
Reverted the merge for now. https://github.com/plone/Products.CMFPlone/commit/3f5cb67550c8f105dc4c701e9941030195310c21

[2015-09-08 15:49] jaroel commented on #180
And we're green again: http://jenkins.plone.org/job/plone-5.0-python-2.7/2368/

[2015-09-08 15:49] #180 closed

[2015-09-08 15:51] jaroel commented on #180
A big thank you to everyone involved! This has been in the works since at least 2012 :)

[2015-09-10 09:23] do3cc commented on #187
@hvelarde I've followed your question on the ux mailing list and I feel it is misleading.
The original reason for sorting wasn't for readability, but for avoiding complex diffs because people change the imports to their liking.

The sort order does not matter at all for finding things quicker in the import list, if you want to look something up, you are always looking up a term imported via a from

[2015-09-10 09:39] jensens commented on #187
as "sort order does not matter ar all": what about leaving it as it is _now_ and focusing on other more important topics?

[2015-09-10 09:42] do3cc commented on #187
case sensitive sorting is what is implemented right now but marked as a bug :-)

[2015-09-10 09:49] adamcheasley commented on #187
I agree with @jensens here. Although I'd prefer case sensitive sorting, of all the bugs that we have, surely this is the least important?

[2015-09-10 11:10] do3cc commented on #187
Is this a bug tracker? Isn't one of the functions of a bug tracker to track bugs so that one doesn't have to track them all in his brain?
If you don't want to weight in your opinion now, do it later

[2015-09-10 11:18] adamcheasley commented on #187
I've already made my opinions clear...in November last year (see above). However, it's ordering imports. It's subjective. I really don't think this is worth reopening.

[2015-09-10 11:39] hvelarde commented on #187
![hn1uu](https://cloud.githubusercontent.com/assets/341393/9787229/5737cc60-5797-11e5-8187-e1b0d1b0d08e.jpg)

[2015-09-10 11:51] do3cc commented on #187
Hi Hector,

I am not going to reply to this on github because as others have said, it is not important right now.

This stupid meme image drags the argument on a personal level by implying that I did not read on the discussion that happened before.
It moves the discussion away from the arguments I have given and which I doubt you disagree with.

You could also just have said Fuck off and that is t

[2015-09-23 09:31] jensens commented on #177
looks like the discussion in PR #205 (as followup of meanwhile closed PR #179)  shows that the implementation there is not accepted. so i close the PR and go back here.

The essence of the discussion is as far as i get it following:
- we want a ``plone.api.content.list`` and a ``plone.api.content.search``
- we want plone.api use IContentListing behavior.
- we did not agree on details, there are a

[2015-09-29 10:13] saily opened #280 "api.portal.get() should work in test layer setup"
i expected same behaviour as `plone.app.testing.helpers.ploneSite()` - at least as a fallback for `plone.api.portal.get()`.

[2015-09-29 10:19] saily commented on #280
Ok, after some debugging we found out this is not possible in Layers.

[2015-09-29 10:19] #280 closed

[2015-09-29 10:24] do3cc commented on #280
Some context for whoever stumbles over this too.
There is no guarantee that a Zope Server has only a single Portal.
While I did not verify this, I guess that during traversal the portal in the current context gets stored in such a way the portal.get() works.
In a test setup one, is outside of any portal. The helpers.ploneSite() context sets up an environment in which one IS in the context of a spe

[2015-09-30 08:16] jensens opened #281 "Travis Test for 5.0 runs agains egg?"
looking at https://travis-ci.org/plone/plone.api/jobs/82881168 there is plone.api is tested against the egg, not the source clone:
``/home/travis/build/plone/plone.api/eggs/plone.api-1.4.7-py2.7.egg/plone/api/tests/test_portal.py``
and therefore the test is red there.

[2015-09-30 10:11] mauritsvanrees commented on #281
Let's see if commit 1fb751b6ce684c8fa48bc2a5b0fc0ac529aaa803 fixes it, which removes plone.api from the versions on Plone 5.

[2015-09-30 10:21] mauritsvanrees commented on #281
That does the trick.

[2015-09-30 10:21] #281 closed

[2015-10-01 10:16] khink opened #282 "content.get_state() throws WorkflowException, wftool.getInfoFor(obj, 'review_state') returns 'published'"
Found while running an acceptance test with plone.api 1.3.2:

[code]

Inspection in Products.CMFCore.WorkflowTool, line 266, in getInfoFor shows that name == "review_state".

Replacing api.content.get_state(vw) with wftool.getInfoFor(vw, 'review_state') fixed it.

[2015-10-01 10:18] jaroel commented on #282
plone.api 1.3.2

[2015-10-01 10:24] jaroel commented on #282
Products.CMFCore 2.2.5

[2015-10-01 10:34] jaroel commented on #282
This traverses into a different Plone site:
  Module humanitaskennisbank.contenttypes.browser.start, line 223, in mijn_afdelingen
  Module humanitasportaal.contenttypes.content.vrijwilligerpersoon, line 947, in mijn_afdelingen

The `portal.get_tool` call does not use the correct portal to get the workflow tool from.

[2015-10-01 10:34] #282 closed

[2015-10-16 12:53] pcdummy commented on #269
+1, its very nice to expose registry settings on a view.

[2015-11-13 12:11] jaroel opened #283 "portal.send_email does not respect transaction aborts"
plone.api.portal.send_email uses immediate=True. This means that the email is sent multiple times if a ConflictError occurs.
Unless explicitly specified, email should be send at transaction boundary and/or using a mail queue.

https://github.com/plone/plone.api/blob/master/src/plone/api/portal.py#L177
http://docs.plone.org/develop/plone/misc/email.html

[2015-11-14 13:55] gforcada commented on #283
:+1:

[2015-11-18 01:34] hvelarde commented on #187
may I ask why this is still open? bug reports are already open in plone.recipe.codeanalysis:

* https://github.com/plone/plone.recipe.codeanalysis/issues/97
* https://github.com/plone/plone.recipe.codeanalysis/issues/163

[2015-11-18 08:01] do3cc commented on #187
@hvelarde Because of these arguments https://github.com/plone/plone.api/issues/187#issuecomment-139180596
The other issues are about implementation, this is about best practices. In particular the second issue does not contest the idea of case insensitive sorting but complains that the latest codeanalysis does NOT honour the best practices currently in the docs.

[2015-11-18 11:11] hvelarde commented on #187
it's really amazing the amount of time and energy we have wasted on this until now; leave it open, if you want but... if as you say "sort order does not matter at all", then we can just remove that convention and let people do whatever they want with the imports, even don't sort anything as they can find quicker using the find command of the editor of their choice.

[2015-11-18 11:34] do3cc commented on #187
The quote is incomplete, here is the longer form:
The sort order does not matter at all *for finding things quicker in the import list , if you want to look something up, you are always looking up a term imported via a from statement and the word you are looking for* **will be the last word in the line.**
Sorting is important for clean code, because it reduces useless diffs when people reorder imp

[2015-11-18 12:11] hvelarde commented on #187
@do3cc this is getting worse: where do I attacked you as a person on my comment? this is a complete non-sense, you don't need to play the victim... the level is getting lower with each comment.

[2015-11-18 12:12] do3cc commented on #187
https://github.com/plone/plone.api/issues/187#issuecomment-139210427

[2015-11-18 12:17] jcbrand commented on #187
FWIW, I'm personally +1 for keeping the sentence and I think @do3cc's argument of keeping diffs readable is valid.

In any case, as the text says, it's just a recommendation and plone.recipe.codeanalysis doesn't enforce it. So I don't see the point of making a big deal out of it.

[2015-11-18 12:20] rnixx commented on #187
16 Nov 2014 to 18 Nov 2015. Not bad :8ball:

[2015-11-18 12:21] do3cc commented on #187
@jcbrand The discussion is actually about what should be default, case sensitive or case insensitve sorting.
There is general consonsus already that sorting is the way to go.
plone.recipe.codeanalysis has a sort order checker and it will only accept one of the two sortings valid

[2015-11-18 12:24] hvelarde commented on #187
@do3cc you think that's personal? seriously? your skin is thinner than you think then.

@jcbrand case insensitive sorting gives you that AND gives readability, that's the whole point of the issue.

@rnixx yes, and seem it will continue until... Nov 2016? 2017? 2020? you guess...

[2015-11-18 12:27] jcbrand commented on #187
@doc3cc Oh, that's not what I gathered from reading the [linked to ticket](https://github.com/plone/plone.recipe.codeanalysis/issues/88). The consensus appeared to be to not check the order. Granted, I don't know what the actual code looks like.

Personally, I think would still stick with the status quo, otherwise everything needs to be changed again, for IMHO negligible and subjective benefit.

[2015-11-18 12:28] do3cc commented on #187
@jcbrand Since the sorting plugin in plone.app.codeanalysis is currently broken anyway, it can still be changed (again, actually) :-)

[2015-11-18 12:29] jcbrand commented on #187
I'd keep the recommendation and drop the checking of imports in plone.app.codeanalysis. Then everyone's (un)happy! :D

[2015-11-18 12:29] do3cc commented on #187
@hvelarde Yes, your comments were personal attacks or misinterpretations. At no time since september did you participate in this discussion in a constructive manner

[2015-11-18 12:32] rnixx commented on #187
@hvelarde @do3cc Things won't get better. Whats the default behavior of line sorting in the most spreaded editors? Make this default... my 2c

[2015-11-18 12:34] do3cc commented on #187
@rnixx from https://github.com/plone/plone.api/issues/187#issuecomment-139180596

My vim sorts case sensitive by default (:sort)
emacs too
http://www.gnu.org/software/emacs/manual/html_node/emacs/Sorting.html
sublime text is configurable
Pycharm does grouping, which is wrong altogether according to our plone.api documentation.

That is my argument all the time already :-) :+1:

[2015-11-18 12:43] rnixx commented on #187
Eclipse also does case sensitive sorting. So fine.

BTW - I cannot find anything really offensive either. Let's keep out such stuff and leave it to professional victims and SJW's.

peace

[2015-11-18 15:37] gforcada commented on #187
@do3cc it's starting to get irritating that you keep saying that p.r.codeanalysis checker is broken, since it's perfectly stable and doing whatever you tell it to do (via .isort.cfg)

Another completely different thing is what you like to be the default, which, again can be fixed on isort itself.

The bonus point of isort is that, by default, fixes imports, not only reports, so any cleanup is just

[2015-11-18 15:50] jensens commented on #187
I cant follow, whats the discussion about?

[2015-11-18 15:51] do3cc commented on #187
@gforcada plone.recipe.codeanalysis does not create the .isort.cfg file. When adding plone.recipe.codeanalysis with [recommended] extras, the isort checker will show imports, ordered to plone.api conventions as false. I consider this a broken behavior, this is why the ticket is open again.

Let us keep the *broken* discussion off this ticket, we got plone/plone.recipe.codeanalysis#163 for that.

T

[2015-11-18 20:09] hvelarde commented on #187
@do3cc from the very beginning I was very open to discussion and I was very constructive: I even brought opinions from experts outside the community; trying to deny that is futile. we can have a conversation with arguments and opinions, not only opinions.

as I said before the only difference among case sensitive and case insensitive sorting, is that the later is better for human readability; tool

[2015-11-18 20:25] zupo commented on #187
"the later is better for human readability;" -> that's subjective and an opinion. For me, case sensitive is more readable.

And since case sensitive is what more editors do by default, we chose it as the guideline. If there are no objective arguments against case sensitive ("more readable" without a source proving it is moot), then "more common for editors" is the only one we can work with.

[2015-11-18 20:37] saily commented on #187
ok, just to get this thing and https://github.com/plone/plone.recipe.codeanalysis/issues/163 closed, i suggest (and yes, i'll volunteer implementing this) writing an `flake8-isort-plone` plugin, which is based on the great work @gforcada did, which passes - by default - our conventions into `SortImports` here: https://github.com/gforcada/flake8-isort/blob/master/flake8_isort.py#L14

So it's up to

[2015-11-18 20:47] hvelarde commented on #187
@zupo no, is not an opinion, is a fact; you have double work looking for something case sensitive: first you have to know if it is upper or lower case and then you have to check the order.

[2015-11-18 21:00] do3cc commented on #187
@hvelarde I hate to repeat my argument from https://github.com/plone/plone.api/issues/187#issuecomment-139180596 but
**What** are you looking up?

You want to know from which package `ICatalog` is coming from.

How does sort order help here:

from Products.ZCatalog.interfaces import **ICatalog**

you never want to know if you import from `Products.ZCatalog` so it really is a mood point if case ins

[2015-11-19 00:07] fulv commented on #187
I'm gonna regret stepping into this, but taking @hvelarde's example (
https://github.com/plone/Products.Archetypes/blob/master/Products/Archetypes/atapi.py),
look at the two sortings:

https://gist.github.com/fulv/f794f91eafaf9b08bc03

If anyone can convince me that one is better than the other when trying to
find out, e.g., where CompositeSchema is imported from, I'll buy them a
case of beer.

On

[2015-11-19 00:21] hvelarde commented on #187
@do3cc you're not looking for consensus; you simply don't want to have type an additional character when sorting, and that's totally fine. you just have to say that clearly.

@fulv readability and searchability are different things; you will never search for text by reading the whole file.

[2015-11-19 00:49] thet commented on #187
@fulv me too!

but what about this sorting: https://gist.github.com/thet/ddff81b4eec013f4f8c8

it's sorted on the last word in an import statement.
with this vim command '`:sort /.* /'' it's sorted that way. everything, which matches the pattern in ``//`` will be ignored by sort.

[2015-11-19 08:19] do3cc commented on #187
@thet that is a funny solution :-)

[2015-11-19 08:26] do3cc commented on #187
@hvelarde Are you saying that you want case insensitive search for better readability and not for better searchability?

Why do you read import lines, if not for finding things?

Regarding the "I don't want to have to type an additional character". It is a bit more involved for setting up sorting. This adds stop energy for new contributors or contributors who rarely contribute and did not set up t

[2015-11-19 08:44] zupo commented on #187
This ^

[2015-11-19 15:44] jensens commented on #283
+1000

[2015-11-19 15:49] agitator commented on #283
had exactly this problem with a client, reminder mails being sent out 7 times after transaction abort by plone.protect

btw. does someone know why 7 times?

[2015-11-19 16:30] #283 closed

[2015-11-20 12:39] hvelarde commented on #187
@do3cc just look what I've found: https://github.com/zopefoundation/zc.relation/commit/10b9f88ab8530ab4c0eca86416a7200d84b3e5d1

ROFL

[2015-11-25 16:44] ale-rt opened #285 "api.portal.get_tool fails to find portal when renaming a Plone site"
This is the traceback I got:
[code]

The line calling plone.api is this one:
 - https://github.com/collective/Products.Ploneboard/blob/5607a9528b72a3a8c7185154d1231adc5bad84e5/src/Products/Ploneboard/content/PloneboardConversation.py#L73

[2015-11-25 17:06] ale-rt commented on #285
Related to #20.
I do not know a reasonable way to fix this, but this worries me: renaming Plone sites from the ZMI should work.
In addition I am wondering that renaming a Plone site contained in another Plone site will lead to an error because api.portal.get will return the "wrong" portal...

With the wide adoption of plone.api I suspect that the renaming of Plone sites will be impossible :)

[2015-11-25 17:29] ale-rt commented on #285
A good thing is that the global request is still available.

With this patch to plone.api I was able to rename the Plone site:
[code]

Could we work around this adding a form on the Plone site that has to be removed?

[2015-11-25 18:57] fulv commented on #285
AFAIK, renaming a plone site has never been supported.  I could look up
references to back up my claim, but I'm pretty sure.

On Wed, Nov 25, 2015 at 9:29 AM Alessandro Pisa <notifications@github.com>
wrote:

[2015-11-25 19:40] davilima6 commented on #285
iirc Although not recommended, it would work most of the times (eg: if there weren't too many or too complex addons). You'd "only" lose relations between items, even if clearing & rebuilding catalog. Not sure about collections/portlets paths.

[2015-11-27 14:02] tomgross commented on #258
This works. The problem is somewhere else.

[2015-11-27 14:03] tomgross opened #287 "Option for indexing in api.content.create"
A common pattern is to index objects after creation. It would be nice if api.content.create would support this via an option `index=True`.

[2015-11-30 10:06] #269 closed

[2015-12-01 10:54] zopyx opened #288 "Spelling for role "Reader""
http://docs.plone.org/develop/plone.api/docs/group.html#group-create-example

has an example with role 'Readers' instead of 'Reader'

[2015-12-01 15:14] #288 closed

[2015-12-08 08:05] zopyx opened #290 "plone.api.group.get_groups() error for anonymous user"
[code]

raises an "internal" error for Anonymous User

[code]

This AttributeError should be better handled.

[2015-12-08 08:18] adamcheasley commented on #290
Why not use the safer (although longer):
`groups = api.group.get_groups(user=api.user.get_current())`

[2015-12-09 10:51] jensens opened #291 "RFC: add api call to get current negotiated language"
At the moment its kind of difficult to get the current language.
I mean the language actual negotiated.
At least I need this frequent.
http://docs.plone.org/develop/plone/i18n/language.html#getting-the-current-language

I propose to support ``plone.api.portal.get_language``.

[2015-12-09 10:53] rnixx commented on #291
sounds reasonable

[2015-12-09 10:54] thet commented on #291
+1

[2015-12-09 11:16] jensens commented on #291
maybe also useful more widely in this context:
- ``plone.api.portal.get_configured_languages`` - languages configured in this portal
- ``plone.api.portal.get_default_language`` - language set as default in this portal.

So we should call my initial suggestion: ``plone.api.portal.get_current_language``.

[2015-12-09 11:40] gforcada commented on #291
*not saying is a bad idea*

@jensens aren't these two last additions you mentioned only one portal.registry key away (in Plone 5 at least)?

[2015-12-09 12:29] jensens commented on #291
@gforcada oh, sure, in plone5 it is in registry. Also there are vocabularies. Well, at the moment I'am struggeling with 4.3 sites :) - so we do not need them. but ``plone.api.portal.get_current_language`` is still a thing.

[2015-12-09 17:04] gforcada commented on #291
@jensens sure, I was not against implementing them, just saying that it would be really easy to do so :-)

[2015-12-11 22:01] tkimnguyen opened #292 "erroneous get_permissions() UserNotFoundError"
With plone.app.testing 4.2.5 you can look up test_user_1_ roles but when you look up its permissions you get UserNotFoundError, even if you specify an object context:

[code]

The user definitely exists:
[code]

[2015-12-11 22:02] tkimnguyen commented on #292
@vangheem mentioned that possibly get_roles() changes the active user in the process, https://github.com/plone/plone.api/blob/master/src/plone/api/user.py#L323

[2015-12-16 10:09] do3cc commented on #187
Does silence mean consensus for the default being sort case sensitive?
For reference:
[code]

[2015-12-16 11:14] jaroel commented on #187
@thet Here's how I would order it: https://gist.github.com/jaroel/4bdd0e7a0093ae7cc46b

@do3cc I don't care. As long as isort case do this for me, I'm game :)

[2015-12-16 11:43] hvelarde commented on #187
seems that somebody erased a previous post with this: https://github.com/zopefoundation/zc.relation/commit/10b9f88ab8530ab4c0eca86416a7200d84b3e5d1

as I said before ROFL.

[2015-12-16 12:31] do3cc commented on #187
@jaroel: Cool! Just for the record, Since today I argue to remove flake8-isort from the recommended section of plone.app.codeanalysis, I added a bunch of reasons here: https://github.com/plone/plone.recipe.codeanalysis/issues/163#issuecomment-165058772
If this would become reality. it would mean you have to declare your flake8-isort dependency explicitly. I hope that would not be a big deal.

[2015-12-16 12:49] jaroel commented on #187
@do3cc Not a problem at all!

[2015-12-16 12:49] do3cc commented on #187
@hvelarde I feel sad that it wasn't you who deleted your embarrassing comment. Even more so as you repeat it again.

I hope you understand that to outsiders you do not only represent yourself but Plone, the community.

Maybe you want to delete that message yourself this time.

[2015-12-16 22:42] thet commented on #187
@jaroel nice example! only i really don't like multi line imports for readability reasons.

[2015-12-17 08:27] jensens commented on #187
@jaroel in fact we used this way in a lot of bluedynamics code in past, but it does not help so much with finding a string by quick scanning of the import block.

Anyway, if we want to support the programmer in my opinion sorting should happen after the imported thing, such as:

    from lorem import Aadfasd
    from ipsum import absadfgasdg
    from dolor import baasddgsadg
    from sit import Bb

[2015-12-17 09:54] hvelarde commented on #187
@do3cc no, I don't want to delete my comment and I want to say something more: if you were the person who erased it, be careful on misusing the powers you have: you have absolutely no right to delete someone else's comments not violating the [Code of Conduct](https://plone.org/foundation/materials/foundation-resolutions/code-of-conduct).

[2015-12-17 10:00] do3cc commented on #187
@hvelarde I didn't delete it and I wouldn't, it doesn't feel right to do such a thing.

[2015-12-22 11:00] hvelarde commented on #187
thank you; have a nice holiday.

[2015-12-28 21:13] pbauer opened #293 "adopt_roles does not work as I expected"
I don't get what ``api.env.adopt_roles`` actually does. I expected it to either temporarily grant some roles to the current user and after executing the block restore the original roles. Alternatively I thought it might execute the block with a proxy-user that has the given roles. It seems to do neither of the two.

Testing for the roles of the current user:

    ['Member']

    ['Member']

    ['

[2015-12-28 21:34] gforcada commented on #293
There are tests for it that claim to do what you actually expect: https://github.com/plone/plone.api/blob/master/src/plone/api/tests/test_env.py#L134-L174

So either is wrong...

[2015-12-29 09:57] pbauer commented on #293
Here is some proof. ``adopt_user`` works nicely but ``adopt_role`` does not. Can someone shed light on what happens? I consider that a bug.

[code]
I added it in https://github.com/plone/plone.api/commit/bda5ce36b23f23dbfd2c802081184af264f0d5e7 (nothing that should be merged, only to allow you to ease debugging)

[2016-01-11 09:45] thet opened #294 "Close plone.api conventions style guide"
The plone.api styleguide was finally copied over and integrated in http://docs.plone.org/develop/styleguide/index.html ( https://github.com/plone/documentation/tree/5.0/develop/styleguide ) and also enhanced with other style guide information, especially for JavaScript.
To avoid to have two places which can get out of sync, I'd propose to close/remove the conventions in this repository: https://gi

[2016-01-11 10:11] thet commented on #217
Some more arguments regarding this discussion:

While @do3cc proposal to use pkg_resources also has the advantage to be able to check for package version conflicts, which can come quite handy in some cases, it has the disadvantage to not beeing able to check for the existence of a specific identifier from a module.

For example, if I want to check for the existence of ``IDisableCSRFProtection`` fr

[2016-01-11 10:25] do3cc commented on #217
I came across circular imports. It is terrible the first time it happens, because you might start questioning your sanity.
you can check for minimum and maximum requirements in get_distribution:
pkg_resources.get_distribution('plone.protect>=3.0,<4.0')

If your example was just an example and you don't actually know if IDisableCSRFProtection does get removed, please be aware that the ImportError c

[2016-01-11 10:31] jensens commented on #217
I also debugged strange side effects from hidden ImportErrors and can confirm the pain. I'd also say beginners have no chance to get what happens.

Writing one time sane code and even if it costs some millis at startup is it worth compare to hours of insane debugging.

[2016-01-11 11:08] jensens commented on #294
+1 for less redundancy

[2016-01-11 11:40] thet commented on #217
``pkg_resources.get_distribution('plone.protect>=3.0,<4.0')`` is not the solution, because we want CSRF protection to work in future Plone versions also.
But if done with the pkg_resources check and the application fails with an ImportError in Plone 6, it's ok because this is an explicit hint that something has to be fixed.

[2016-01-11 11:41] thet commented on #217
I'll go and update my editor snippets with the pkg_resources check, see how this will work out and keep this issue closed.

[2016-01-11 11:58] gforcada commented on #217
@thet but then on your example I would first check if plone.protect exists and then if exists do a regular try/except ImportError for the import, this way you do not have to hardcode version numbers on the source code

[2016-01-11 11:58] gforcada commented on #294
+1!

[2016-01-11 12:05] hvelarde commented on #294
+1

[2016-01-11 12:10] hvelarde commented on #217
+1 on @gforcada

[2016-01-11 12:42] do3cc commented on #217
@gforcada What is wrong with specific version checks in code? This is not pinning to certain, currently but later outdated versions, but forbiding versions, known to not work with the code

[2016-01-11 13:42] gforcada commented on #217
@do3cc nothing wrong in general, but given the specifics @thet described I would do it as a two step check, first if we have the distro, then if the specific thing I'm looking for.

As long as plone.protect 4.0 is not out of the door and thus you can not know if the import will still be there, you can make your code work now and forever with the approach that I described, with only version checks

[2016-01-11 13:46] do3cc commented on #217
Ah, I got it now. My suggestion for to limit to version <4.0 was only an example, because I interpreted
@thet
[code]
as if he thought, one can only define one version requirement

[2016-01-11 16:13] frisi opened #295 "content.create needs title or id"
the `@at_least_one_of('id', 'title')` decorator for `plone.api.content.create` does not allow to create objects of types that do not have a title field.

[code]

i think it's a common pattern to compute the title out of other attributes such as first and lastname of a person:

[code]

any objections on removing the decorator or ideas on how to support title-less types too?

[2016-01-11 17:24] hvelarde commented on #295
how is your `id` calculated?

[2016-01-11 23:21] thet commented on #217
@gforcada I think this would not solve the problem @do3cc suggestion tries to solve. Masking circular imports are still possible, when adding another try/except in the else clause like following, no?

[code]

[2016-01-12 12:57] frisi commented on #295
good question @hvelarde

when creating a my.person object through the web with firstname='Hector' and lastname='Velarde' the id becomes 'velarde-hector' automatically.

so i looked it up:
the ++add++ form provided by dexterity creates an empty object with the correct portaltype and
applies all values provieded in the add form via `form.applyChanges(self, content, data)` (see https://github.com/plo

[2016-01-12 14:31] hvelarde commented on #295
I think your use case belongs to the 20% that doesn't fit the API; I think we must keep those parameters as required.

[2016-01-13 14:33] frisi commented on #295
thanks for your feedback @hvelarde

leaving out this (useless) sanity check would not harm users either:
one can safely create a document without supplying an id or title if the `@at_least_one_of('id', 'title')` decorator is commented out:

[code]

so imho you don't really lose anything when removing this constraint, but you gain the other 20% of the use-cases.

i'd love to hear other plone.api us

[2016-01-13 14:37] hvelarde commented on #295
understood; let's wait for other comments :-)

[2016-01-16 11:02] mauritsvanrees commented on #295
+1 Seems to make sense. An image also does not necessarily have a title, and the id is then taken from the uploaded file name.

[2016-01-16 11:25] jensens commented on #295
:+1:

[2016-01-18 12:53] hvelarde opened #297 "API should show deprecation warnings to help migrate code"
Plone 5 removed various tools without deprecation warnings on Plone 4; seems to me an easy way to help fix that is by adding such deprecation warnings inside plone.api.

For instance, any code asking for the [Calendar Tool](https://github.com/plone/Products.CMFPlone/issues/1320) should show a warning:

[code]

This enhancement will help accelerating the adoption of plone.api and simplifying Plone

[2016-01-18 13:05] gforcada commented on #297
For this specific use case (tools deprecation) it looks like a valid use case, but as usual, the deprecation warning should be managed on every package IMHO.

@jensens was some time ago looking for a generic approach to handle that, so we can document and try to make sure deprecations and properly added.

I guess it will be part of the upcoming [Alpine City Sprint](http://www.coactivate.org/projec

[2016-01-18 13:09] gforcada commented on #297
Oh, I forgot: making a tool that checks if a deprecation warning should be added given certain changes (ie a commit) would be even more useful.

If a class is removed from ``interfaces.py``, probably that needs a deprecation warning, if a python module or package gets move around, the same applies.

So if jenkins could help on that it would be perfect.

/me starts dreaming on that tool :)

[2016-01-18 13:13] hvelarde commented on #297
thanks, @gforcada, the Alpine City Sprint looks as a formidable event... good luck!

[2016-01-19 16:23] #294 closed

[2016-01-20 11:17] gforcada opened #299 "Allow to trigger events on objects"
I'm not sure if it fits on the 80/20 rule, but I have quite a calls to ``notify(IRandomEvent(obj))`` which could be nice to be done via plone.api.

Something like ``plone.api.content.notify(obj, event, *data)`` as a signature?

Opinions?

[2016-01-20 11:26] hvelarde commented on #299
+1

[2016-01-20 19:06] thet commented on #299
You're not saving any lines of code with that, but if you're like me you're saving time to look up the syntax of doing event notifications. It's a bit like zope.event, which itself is only one line of code, if you don't count the import.
I'm +0.5 for this ;)

I also support @hvelarde's suggestion of **not** putting this in ``plone.api.content``. IMO it doesn't belong there, because you can pass an

[2016-01-21 06:56] tomgross commented on #299
I don't see any advantage / simplification. More a cause for confusion. *plone.api.portal*, *plone.api.content* or *plone.api.utils*?
[code]
is straight forward IMO.

[2016-01-21 08:43] thet commented on #299
yes, it is.

[2016-01-21 10:38] gforcada commented on #299
I agree that you are not saving lines of code, but you are saving imports and direct dependencies (so you don't have to remember were they belong).

But I'm also ok to not add it.

[2016-01-21 10:38] #299 closed

[2016-01-27 14:29] hvelarde opened #300 "Setting text field in create fails on Dexterity"
The following code fails on Dexterity-based content types (plone.app.contenttypes):

[code]

on archetypes, the text field is set; on Dexterity, the text field is set as a unicode object leading to the following error:

[code]

the workaround is something like:

[code]

where do we handle this? here or in plone.app.contenttypes?

[2016-01-27 15:04] adamcheasley commented on #300
I have seen this myself. I don't know if I would class this a bug in plone.api, but it's certainly not intuitive. I personally would like this to be handled in plone.app.contenttypes, but I may be in the minority.

[2016-01-28 09:51] ebrehault commented on #291
Don't you think it could also be useful to have an API method to translate?
Something like `plone.api.portal.translate(msgid, domain='plone', lang=None)` (and if lang is None we use current negociated lang)

[2016-01-28 10:03] gforcada commented on #291
@ebrehault :+1:

[2016-01-28 12:32] hvelarde commented on #291
+1 also on @ebrehault

[2016-01-28 17:09] do3cc commented on #187
@jensens finally gave a compelling reason: He already converted way to much code in Plone to the style. That is the winning argument.

[2016-01-29 23:53] gforcada commented on #187
I'm closing this one then. Whoever feels to keep discussing follow to https://github.com/plone/documentation/pull/509

[2016-01-29 23:53] #187 closed

[2016-02-05 16:07] gforcada commented on #291
@jensens with @ebrehault #302 and #304 this could be closed, right? Reopen if not.

[2016-02-05 16:07] #291 closed

[2016-02-05 16:10] gforcada opened #305 "RFC: api.content.get_history"
I'm not sure if that fits on the 80/20 rule, but it would helpful to get a ``get_history`` method that given an object and workflow name (or automatically get it if not passed), it would return the workflow history.

So basically wrapping ``Products.CMFPlone.WorkflowTool.WorkflowTool.getHistoryOf`` but with a nicer looking method name :-)

[2016-02-05 16:12] ebrehault commented on #305
+1

[2016-02-05 16:14] adamcheasley commented on #305
I don't think I've ever used that method, so it almost certainly doesn't fall into the 80/20 rule.

[2016-02-05 16:24] ebrehault commented on #305
I use it a lot.
When you do a regular content site, I agree it is not very useful, but when you have business-specific content types with specific workflow transition, you often need the history.

But ok, that's maybe not a top priority.

[2016-02-06 22:09] davisagli commented on #305
I would call it `get_workflow_history` to distinguish it from CMFEditions version history.

[2016-02-17 22:32] do3cc opened #309 "Multiple test isolation problems"
Uncovered by a plone.testing version from an open PR:
https://github.com/plone/plone.testing/pull/19
results:
http://jenkins.plone.org/job/pull-request-5.0/902/console
related references:
https://github.com/plone/Products.CMFPlone/issues/447

[2016-02-18 06:38] gforcada commented on #309
#310 should fix it, either that or we change the layer to a functional one

[2016-02-18 21:56] gforcada commented on #309
Fixed on #310

[2016-02-18 21:56] #309 closed

[2016-02-19 19:27] hvelarde opened #311 "Can we have a new relase?"
I need to use `portal.get_default_language()` to achieve Plone 5 compatibility in another add-on.

[2016-02-20 08:05] ebrehault commented on #311
+1 (I use it a lot too)

[2016-02-20 08:59] gforcada commented on #311
I'm about to make it, so hang in tight :-)

[2016-02-20 09:28] gforcada commented on #311
Release is out! https://pypi.python.org/pypi/plone.api

[2016-02-20 09:28] #311 closed

[2016-03-01 10:47] gforcada commented on #293
I just hit the same problem :-) I will try to see if I have some time to dig into it.

[2016-03-01 10:55] pbauer commented on #293
@gforcada that would be great.

[2016-03-01 10:59] adamcheasley commented on #293
I have a feeling this is caching related. I think if you split the above test up, i.e. you have two separate requests, the function will work as expected.

[2016-03-02 07:43] petri opened #312 "make api.content.find support unrestricted query"
Currently, api.content.find only returns published content. It severely limits the uses of this particular api call.

Perhaps add a keyword option to switch the api to use `catalog.unrestrictedSearchResults'?

[2016-03-02 12:23] hvelarde commented on #312
+1

[2016-03-02 20:29] mauritsvanrees commented on #312
+1

[2016-03-11 13:08] gforcada opened #313 "api.content.move should warn if you are moving to the parent folder of the element"
So if **both** source and target are specified and the parent's source is already target, there's no need to move anything.

This still allows to not pass a target and make renaming happen.

Opinions?

[2016-03-11 13:38] hvelarde commented on #313
skipping the operation should be enough, IMO.

[2016-03-11 14:08] gforcada commented on #313
Fine with me as well

[2016-03-21 10:34] mauritsvanrees commented on #313
Skipping seems fine. I had this recently where running an upgrade step for a second time would try to move an item to the folder where it already was. It worked fine, but was unnecessary.

[2016-03-23 07:45] shadowmint commented on #177
For what it's worth, this is still a stumbling block.

For example calling `contentItems()` on a piece of content will return the contents of the *parent* object, if the object is not folderish.

See the comments here:
http://docs.plone.org/develop/plone/content/listing.html

[code]

As noted on this page, there is also the `items()` method or indexed content using `getFolderContents()`, or even `

[2016-03-23 09:32] gforcada commented on #188
Closing this as https://github.com/plone/plone.recipe.codeanalysis/issues/100 already exists.

[2016-03-23 09:32] #188 closed

[2016-03-23 09:35] tomgross commented on #188
Just for completenes, you can do a print in pdb too
[code]

[2016-03-29 17:13] jaroel commented on #312
Here's how I'd do that. This is more explicit without polluting the API.
[code]

[2016-03-29 17:19] mauritsvanrees commented on #312
This does not find content in all languages, when you have `plone.app.multilingual` setup.

[2016-03-30 08:21] jaroel commented on #312
That can be done by passing 'Language', but that's an implementation detail. (see http://docs.plone.org/develop/plone/searching_and_indexing/query.html#bypassing-language-check)

Any preferences?
[code]

[code]

[2016-03-30 08:24] jaroel commented on #312
Dit anybody else ran into this, btw?

[2016-05-13 15:06] 1letter opened #315 "portal.rst Code-Block is not right displayed, remove colon"
Please remove the last colon at the end of Line 230(in the Raw-File) in [portal.rst](https://github.com/plone/plone.api/edit/master/docs/portal.rst). As long as the double colon is in front of the code block, the block is not right displayed.

[2016-05-13 20:35] gforcada commented on #315
Fixed in https://github.com/plone/plone.api/commit/a13257a6b7cea4808e77eaa03ad73e10221f0162 thanks for reporting!

[2016-05-13 20:35] #315 closed

[2016-06-09 08:44] zupo opened #316 "Be nicer to non-Plone projects using plone.api"
I use plone.api's utilities even in non-Plone projects. However in order to not import the entire Plone stack I have an internal release with a single commit that removes all imports from ``plone.api.__init__.py``. Would be nice to have this in upstream as an option.

[code]

[2016-06-09 10:20] adamcheasley commented on #316
I'm interested to know what type of non-Plone projects. Are these pure Zope sites?

[2016-06-09 10:50] zupo commented on #316
Pyramid projects. Using mostly conventions and things in https://github.com/plone/plone.api/blob/master/src/plone/api/validation.py.

[2016-06-09 11:31] gforcada commented on #316
@zupo wouldn't make more sense to create an external project for those validators?

[2016-06-09 12:17] zupo commented on #316
And have one more package, for just a few lines of code? Maybe? But also, maybe not?

[2016-06-09 16:26] hvelarde opened #317 "Return a default value if no registry record is available"
I have seen a common pattern arise in my code:

[code]

can we have a default value instead?

[code]

[2016-06-09 16:27] hvelarde commented on #317
see for instance this PR: https://github.com/collective/sc.social.like/pull/67/files

the pattern is repeated around 13 times.

[2016-06-09 19:21] gforcada commented on #317
If you are installing the registry settings through an interface they are either all there or none, but I wouldn't try/except each call...

And then, if you are using an interface you can also do:

[code]

So you can skip the ``__identifier__ + '.field' `` code.

[2016-06-09 20:25] hvelarde commented on #317
nice to know, but the default value could be useful anyway or I would need to test if the returned value is `None` in all places.

[2016-06-10 10:49] gforcada commented on #317
Each registry key can provide a default value per se, I would only add the try/except if you are not sure that the registry key *is there at all*, if the value is one or another that's another matter which can be solved with a default value on the registry key.

[2016-06-14 15:28] jaroel commented on #316
I'd just copy `validation.py` into your project :)
If you depend on plone.api just for validation.py, you'll also get https://github.com/plone/plone.api/blob/master/setup.py#L33  ;)

[2016-06-14 16:10] hvelarde commented on #316
he's the father of the creature; leave him alone!

![leave-britney-alone](https://cloud.githubusercontent.com/assets/341393/16050237/4826cd46-3231-11e6-9299-2dd39e9b41ae.png)

[2016-06-14 16:14] zupo commented on #316
lol :D

[2016-06-14 16:15] zupo commented on #316
Valid points, let's not do this.

[2016-06-14 16:15] #316 closed

[2016-06-15 17:26] hvelarde commented on #317
if the record is somehow deleted then the code will rise `InvalidParameterError`; I want to avoid that kind of situations with this enhancement.

[2016-07-12 20:56] idgserpro opened #318 "Use createContentInContainer for Dexterity instead of invokeFactory in plone.api.content.create"
I have a Dexterity [content](https://github.com/plonegovbr/brasil.gov.agenda/blob/1ca46470ac21fa920a9c8cb54a84991861d92208/src/brasil/gov/agenda/content/compromisso.py#L16) that has a [subscribe](https://github.com/plonegovbr/brasil.gov.agenda/blob/1ca46470ac21fa920a9c8cb54a84991861d92208/src/brasil/gov/agenda/subscribers/compromisso.py#L28) that creates a parent to content and move the content to

[2016-07-12 20:56] idgserpro commented on #318
CC @hvelarde

[2016-07-13 14:04] idgserpro commented on #317
Not only deleted: suppose you have a package, already installed, and from *now on* you decide to use a registry.xml in an upgradeStep for a specific feature.

If you have a browser view that asks for this new registry value and you didn't run your upgradeStep before rendering, you need the `try/except` as well or you get an error.

We're +1 for this approach from @hvelarde:

[code]

This way, ever

[2016-07-14 17:28] hvelarde commented on #317
@idgserpro that's exactly the pattern we have been facing lately:

https://github.com/collective/collective.texttospeech/blob/master/src/collective/texttospeech/browser/__init__.py#L21-L27

[2016-07-15 12:20] gforcada commented on #317
@hvelarde I'm waiting for your pull request :-)

[2016-07-15 12:57] hvelarde commented on #317
@gforcada I have no idea on how to implement this; I think we need some marker class or something like that to avoid confusing , for instance, a default value of `None` with the default ignore value; can you point me to some code implementing that?

[2016-07-26 16:52] pcdummy commented on #312
I just tried a that adopt_roles trick:

[code]

But i get no brains, logged in as Site Administrator i get the one i need.

[2016-07-26 17:02] pcdummy commented on #312
This works for me:

[code]

[2016-07-27 11:47] jaroel commented on #312
That seems to be related to #293

[2016-07-29 18:11] rodfersou commented on #20
My problem here was that I was using ``bin/instance debug -O Plone`` instead of ``bin/instance -O Plone debug``

Now it is working here

[2016-10-15 08:43] zopyx opened #320 "UserNotFoundError for Anonymous User in has_permission()"
plone.api 1.5 raises UserNotFoundError for anonymous user with this code (no error should be raised here):

[code]

[code]

[2016-10-24 06:21] neilferreira opened #324 "Feature request: Method on plone.api.content to return a single object from a query"
Being used to .one() in SQLalchemy (As seen on http://docs.sqlalchemy.org/en/latest/orm/query.html#sqlalchemy.orm.query.Query.one) I think a method similar to this could be quite handy in plone.api.content

This situation for example:
[code]

Other possibilities:
one_or_none()
one_object() (returns an object instead of a brain)

Questions:
What exception should we raise if too little / too many we

[2016-10-26 15:47] adamcheasley commented on #324
The Django ORM has something similar with the `Model.objects.get` method. I would suggest a custom exception along the lines of `MultipleObjectsError`

[2016-10-26 16:06] gforcada commented on #324
I'm not so sure that we want that... if you add a ``.one()`` method this means that you have to create a proxy object on ``plone.api.content.find`` that will have this ``one`` method.

And putting that aside, your if else will turn into a try/except if none, one or multiples are provided...

[2016-10-28 07:44] tomgross opened #326 "Support sorting for plone.api.content.find"
The plone.api.content.find method strips all query parameters which are no indexes. For that reason the ZCatalog sorting parameters (_sort_on_, _sort_limit_, _sort_order_) are striped.
Finding content should support sorting.

Version of plone.api: 1.5 (Plone 5.0.6)

[2016-10-28 07:44] tomgross commented on #326
A workaround is to get the portal_catalog tool and do the query directly there.

[2016-10-28 22:34] gforcada commented on #326
:+1: It makes a lot of sense to keep these three values if they are passed to the query, I wouldn't add them as separate arguments though.

[2016-10-30 16:51] jaroel commented on #326
This is incorrect:
sort_on:
`[x.Title for x in api.content.find(self.context, depth=1, sort_on='sortable_title')]
['Events', 'News', 'Users', 'Welcome to Plone']`

sort_order:
`[x.Title for x in api.content.find(self.context, depth=1, sort_on='sortable_title', sort_order='descending')]
['Welcome to Plone', 'Users', 'News', 'Events']`

sort_limit:
`[x.Title for x in api.content.find(self.context, d

[2016-10-30 16:53] jaroel commented on #326
Might be a good idea to raise a InvalidParameterError exception stating that you're passing invalid indexes, though :)

[2016-10-30 17:34] jaroel commented on #324
Here is an easy way to do this yourself:

    def one(brains):
        if brains:
            return brains[0]

    def first(brains):
        assert brains
        return brains[0]

    def just_one(brains):
        assert len(brains) == 1
        return first(brains)

    brains = api.content.find(self.context, depth=1)
    brain = first(brains)  # will error on multiple brains
    brain = just_

[2016-10-30 19:14] jaroel commented on #317
Remember: using a default value will stop showing error pages, but will also prevent an error_log entry for actual users when the key should be there.

In the mean while:

    from plone.api.exc import InvalidParameterError

    _marker = []

    def get_record(interface, name, default=_marker):
        try:
            return api.portal.get_registry_record(interface=IMySettings, name='field')

[2016-10-30 19:21] jaroel commented on #297
I'm closing this issue, because a solution for this is out of scope for plone.api.
Please continue this in https://github.com/plone/Products.CMFPlone/issues/1320

Have a nice day, and thank you!
-Roel

[2016-10-30 19:21] #297 closed

[2016-10-30 19:33] jaroel commented on #313
It is probably replacing the `if target:` check with something like `if target and target is not source.aq_parent`

[2016-10-30 19:41] #258 closed

[2016-10-30 19:48] jaroel commented on #290
Closing this, as getGroups is a PAS method, which doesn't do that much error checking.

    ipdb> user
    <SpecialUser 'Anonymous User'>
    ipdb> user.getGroups()
    *** AttributeError: portal_groups
    ipdb> user.getGroups
    <bound method PluggableAuthService.getGroups of <PluggableAuthService at /acl_users>>
    ipdb> user.getGroups.im_func.func_code
    <code object getGroups at 0x104fd26

[2016-10-30 19:52] zopyx commented on #290
Are you serious?

[2016-10-30 20:00] jaroel commented on #177
plone.api.content.list could be implemented as

    def list(context, **kwargs):
        kwargs['sort_on'] = kwargs.get('sort_one', 'getObjPositionInParent')
        return find(context=context, depth=1, **kwargs)

[2016-10-30 20:02] jaroel commented on #290
Ah, I misread this completely.
This is a plone.api issue, thanks!

    ipdb> user
    <SpecialUser 'Anonymous User'>
    ipdb> api.group.get_groups(user=api.user.get_current())
    *** AttributeError: portal_groups

[2016-10-30 20:06] jaroel commented on #290
Testcase
    ipdb> from AccessControl.users import nobody
    ipdb> plone.api.group.get_groups(user=nobody)
    *** AttributeError: getGroups

[2016-10-31 04:28] tomgross commented on #326
If this is possible it should be documented then.

[2016-10-31 12:24] hvelarde commented on #317
this is mostly the use case we have, for instance, we don't want to display error when we are upgrading an add-on that has an upgrade step to add a new field on the registry.

BTW, I didn't implemented a solution just because [there's already a marker interface on the method](https://github.com/plone/plone.api/blob/master/src/plone/api/portal.py#L279) and I didn't want to add another.

[2016-10-31 14:15] jaroel commented on #317
The supplied `get_record` is a utility function in your project, not something that already exists in plone.api.

Regarding the _marker variable, just declare another one outside the `get_registry_record` function, ie:

    _default_marker = []
    @required_parameters('name')
    def get_registry_record(name=None, interface=None, default=_default_marker):
    [...]
    if name not in registry:

[2016-10-31 19:12] hvelarde opened #329 "Decrease the number of suggestions printed on failure"
some API methods, like [get_registry_record](https://github.com/plone/plone.api/blob/master/src/plone/api/portal.py#L253-L309) or [get_view](https://github.com/plone/plone.api/blob/master/src/plone/api/content.py#L500-L535) return a large number (sometimes dozens) of possible options in case the requested object is not found.

Would it be a desired behavior to filter that to show only the most sim

[2016-10-31 20:05] gforcada commented on #329
It would prefer to keep it the way it is unless we have some really clever algorithm here, as you may have a typo at the beginning, end, in the middle, etc and then the suggestions can be not so good. And anyway one does not want to put code that can raise this exception on production...

I'm slightly -0.5 here, others?

[2016-10-31 21:18] hvelarde commented on #329
yes, we have such option: is part of the standard Python library and is fully configurable:

https://docs.python.org/2/library/difflib.html#difflib.get_close_matches

[2016-10-31 22:41] #320 closed

[2016-11-01 01:53] jaroel commented on #290
Closed by #328

[2016-11-01 01:53] #290 closed

[2016-11-06 11:24] jaroel commented on #329
@hvelarde do have examples of both? Then I can check if using difflib would improve things.
I think it would for get_registry_record:
ipdb> difflib.get_close_matches('pone.app.querstring.itle', records)
['plone.app.querystring.field.end.title', 'plone.app.querystring.field.path.title', 'plone.app.querystring.field.start.title']

I haven't looked at get_view. Maybe get_view should still dump all av

[2016-11-06 11:46] jaroel commented on #326
Pull request welcome :)

[2016-11-06 22:49] #313 closed

[2016-11-07 17:30] hvelarde commented on #329
@jaroel here you go: http://pastie.org/10957635

[2016-11-14 13:53] puittenbroek commented on #293
This problem also occures when doing workflow transitions.
[code]

[code]
Using the `plone.api.user.grant_roles`  as suggested does work, so I have a work around.
It seems the `getSecurityManager().addContext` function used does not cover everything.

[2016-11-16 18:13] #317 closed

[2016-12-15 08:21] tomgross opened #338 "ConflictError is not catched on create"
If the `plone.api.content.create` method is called an a conflict error happens on `invokeFactory ` this is not catched and the following error is raised (plone.api included in Plone 5.0.6):

[code]

[2016-12-15 08:28] adamcheasley commented on #338
The error looks a little strange. Seems to indicate that the container object doesn't support getitem. The line in question is here:
https://github.com/plone/plone.api/blob/master/src/plone/api/content.py#L103
That's post content creation.

[2016-12-15 08:49] tomgross commented on #338
The object supports getitem. It is a normal folder (otherwise `invokeFactory` would not be possible.

The problem is:
  `ConflictError` is raised in `invokeFactory` and no content is created. -> The error is not catched and code execution is continued -> Getting the content from the parent fails.

[2016-12-15 14:36] gforcada commented on #338
But then if it was not handled somewhere you should get the conflict error, so somewhere there is a try/except handling ConflictError...

[2016-12-15 19:44] tomgross commented on #338
That's what this issue is all about. An try/except ConflictError -> raise is missing around
https://github.com/plone/plone.api/blob/master/src/plone/api/content.py#L88

[2016-12-16 12:30] mauritsvanrees commented on #338
But if we catch the ConflictError there and re-raise it, then there is no real difference, is there?

If function X calls `api.content.create` and this call gives a ConflictError or any other error that is not explicitly caught by `api.content.create`, and function X catches it, then the code execution does not continue in `api.content.create`, but in function X, like this:

[code]

The problem th

[2016-12-20 15:48] AnneGilles opened #339 "api.user.get_roles() not working for Anonymous, throws UserNotFoundError"
found this while writing a browserview to debug roles of users, checking with an "anonymous" not logged-in user:
[code]

[2016-12-20 21:28] fulv commented on #339
Not sure if it's the same issue, but I keep getting this UserNotFoundError, as well.  In my case, however, it is a logged in user.

[2016-12-21 09:08] AnneGilles commented on #339
oh, btw, this was Plone 5.1a2 with plone.api 1.5.1

[2017-01-04 06:24] djay opened #340 "plone.api.content.copy fails if id is unchanged"
```plone.api.content.copy(foo.myid, bah, 'myid')```
will fail with

```  The id "myid" is invalid - it is already in use.```
Which is unexpected.
You have to omit the id param to make this work

[2017-01-04 14:16] jaroel commented on #340
So, if you try to copy an object into the same folder using the same id, you'll get an exception?

[2017-01-04 14:29] jaroel commented on #338
@tomgross Could we see the code in `create_media_folder` and the zcml declaration of the event handler?
I'm guessing that you're using an IObjectCreatedEvent event, in which the created object isn't aq wrapped.

[2017-01-06 00:06] jaroel commented on #338
nm, https://github.com/zopefoundation/Products.BTreeFolder2/blob/2.14.0/src/Products/BTreeFolder2/BTreeFolder2.py#L461 ObjectAddedEvent

[2017-01-16 15:46] jaroel commented on #339
I've fixed this in #341. This will be available in the next plone.api release.
Thank you for reporting!

[2017-01-16 15:46] #339 closed

[2017-01-23 07:07] zopyx opened #342 "get_roles() fails for Anonymous"
[code]

The supposed result should be ('Anonymous',) instead of the given exception.

[2017-01-23 08:10] AnneGilles commented on #342
see #339, #341

[2017-01-23 12:44] jaroel commented on #342
Dup #339

[2017-01-23 12:44] #342 closed

[2017-01-23 16:50] hvelarde opened #343 "Publishing an object does not sets its effective date"
[code]

[2017-01-24 16:12] pbauer opened #344 "group.get_roles has no way to only get local_roles which breaks group.grant_roles"
`group.get_roles(group=foo, obj=bar)` returns global roles as well as local roles. It should have the same behavior as `user.get_roles()` which has a bool argument `inherit`. When `inherit=False` it should only return local roles.

A annoying side-effect of the current behavior: When granting local roles to a group with `group.grant_roles(group=foo, roles=bar, obj=baz)` the group's global roles wi

[2017-01-24 22:27] pbauer commented on #344
Fixed in https://github.com/plone/plone.api/pull/345

[2017-01-25 09:30] pbauer opened #346 "user.get_roles does not include local roles inherited from groups when using "inherit=False""
As far as I know the `inherit=False` in `user.get_roles(user=foo, obj=bar, inherit=False)` is meant to ignore global roles. What it also does is ignore roles gotten from local roles of groups on the same object. That is inconsistent with `user.get_roles(user=foo, obj=bar, inherit=True)` which returns global and local roles owned by the user and local and gloabl roles inherited from groups the user

[2017-02-01 02:01] neilferreira commented on #2
Apologies for re-opening this issue.

I've just searched my project's entire codebase for 'checkConstraints' and the only time it comes up is in the addContentToContainer call.

Implementing this check in plone.api.content.create would be quite easy, and make it more consistent with addContentToContainer.

This should definitely be on the cards, I've had to resort to using addContentToContainer in

[2017-02-07 17:04] pbauer opened #350 "api.group.get_roles() fails with AutoGroup"
getting local roles fails for the AutoGroup 'AuthenticatedUsers' :

[code]

[2017-02-07 18:47] #344 closed

[2017-02-08 08:45] pbauer commented on #350
Also: getting gobal roles for this Virtual Group does not work:
[code]
The assignment itself actually works, it is only the getting that always returns a empty list.

[2017-02-08 14:47] pbauer opened #351 "grant_roles() copies dynamic local roles to persistent local roles"
`grant_roles(username='foo', roles=['bar'], obj=obj)` first gets the list of current local roles for group foo on obj, then adds the new role and adds the sum as local roles. The problem is that in the first step this also gets roles granted by a dynamic ILocalRoleProvider, thus turning a dynamic role into a persitent one. This can result in permanent access for users who should no longer have acc

[2017-02-10 16:14] pbauer commented on #351
I guess the same is the case for users and we need the same fix for them.

[2017-02-14 12:11] #351 closed

[2017-02-20 11:01] pbauer opened #354 "get_roles inconsistent"
For users: `get_roles('foo', obj=bar, inherit=False)` uses `obj.get_local_roles_for_userid(username)` which ignores LocalRoles-Adapters.

For groups it uses `lrmanager.getRolesInContext(plone_user, obj)` which includes local_roles set on parents.

Both are wrong should instead return roles that are set only on this object including those provided by LocalRoles-Adapters or from groups that the user

[2017-02-20 13:42] pbauer commented on #354
This solution in https://github.com/plone/plone.api/pull/355 is not really beautiful but seems to cover all the use-cases:

[code]

It includes basic local_roles (`obj.__ac_local_roles__`) for the user and all groups that he is a member of. It also handles LocalRoles-Adapters. For groups the only difference is the first line: `plone_user = super(group.__class__, group)`.

[2017-02-22 10:56] thet commented on #346
Fixed by #355

[2017-02-22 10:56] #346 closed

[2017-02-22 10:57] thet commented on #354
Fixed by #355.

[2017-02-22 10:57] #354 closed

[2017-02-22 11:07] thet opened #356 "plone.api.user.has_permission does not check for AccessInactivePortalContent"
When checking a permission on an object with ``plone.api.user.has_permission``, the content object is not checked, if it is still active (already effective, not expired) and the user has the permission ``Products.CMFCore.permissions.AccessInactivePortalContent`` to access inactive content.

https://github.com/plone/plone.api/blob/master/src/plone/api/user.py#L311

I'm actually not sure, if that is

[2017-02-22 12:44] jaroel commented on #356
I don't think this would be a good idea, as the permission 'View' is granted and the object is publicly available (with standard workflows). I do get what you're saying, though.

We can add a flag to has_permission (ie check_inactive), but it can't be enabled by default without invalidating all existing code.
If we enable the check by default (like portal_catalog does), all code the assumes 'just

[2017-02-22 13:03] jaroel commented on #295
I'm wondering if people are depending in this check to make sure that either a title or an id is entered.
Either way, this would require a major version bump as the signature will change.

[2017-02-23 08:31] adamcheasley opened #357 "Update contribution docs"
Currently, the docs on how to contribute still reference the makefile, which no longer exists. These should be updated so that others can easily contribute. I believe the suggested way to get a dev environment these days is to use the coredev buildout, is that correct?

[2017-02-23 14:29] gforcada commented on #357
If I want to hack on a single package without having *to care* about buildout.coredev complexity I usually check what's on ``.travis.yml`` those are usually the minimal steps that you need to get your project, at least tested :-)

[2017-03-09 09:59] ramonski opened #359 "api.user does not find LDAP users"
## Description

Having LDAP in place, the `api.user.get_users()` or `api.user.get_users(ldapuserid)` mothods do not return anything, but the LDAP users get found and listed in the user and groups control panel at `/@@usergroup-userprefs`.

[2017-03-11 19:24] davisagli opened #360 "api.content.get assumes path starts with /"
The [docs](https://docs.plone.org/develop/plone.api/docs/api/content.html#plone.api.content.get) for `api.content.get` say that path is "relative to the portal root" which made me think I should pass a path without a slash at the beginning. However, the code assumes there is a slash (it appends the path parameter to the portal path). Any objection to making this function prepend a slash to the pat

[2017-03-11 19:28] davisagli opened #361 "api.content.move with id tries to rename when it doesn't need to"
`api.content.move` accepts an `id` parameter to rename the item that is being moved. It tries to do this even if the item already has that id, and in that case raises an exception. I think it would be better if it skips trying to rename in the case where the item already has the specified id.

[2017-03-17 10:02] ale-rt opened #362 "Cannot create an object with a custom naming behavior"
Because of these lines:

[code]
in https://github.com/plone/plone.api/blob/d65c81e6eeb69f0a581fa50e9f0500372efe45b5/src/plone/api/content.py#L115

I will never reach line 34 (`nameFromTitle = INameFromTitle(obj, None)`) here
 https://github.com/plone/plone.app.content/blob/9c220b2ceace9c74a464529d89e4a66c16c0fc17/plone/app/content/namechooser.py#L34

For this reason it is not possible to create wi

[2017-03-27 07:23] iham opened #363 "add plone.api.content.update"
i would like to see an update method, that really acts like updating (eg changing) using the mechanism used during a browser session.

inspiration:
i do have a package where i registered a custom method on the ObjectModifiedEvent.
during tests i create a structure of folders and pages using
plone.api.content.create(container, type, title, **a_costum_field_from_my_behavior**)
the method gets trigge

[2017-03-27 11:46] iham commented on #363
maybe a list of objects would be nicer, for batch processing stuff, if wanted...

p.a.c.update(objects <list,tuple>, fields>dict)

[2017-03-31 16:57] idgserpro opened #364 "plone.api 1.6.1 doesn't populate the start date field of type Event (Archetype), when we use api.content.create"
I have:

[code]

So:

[code]
I'm using Plone 4.3.13

[2017-04-03 22:38] hvelarde commented on #364
@gotcha this problem seems to be caused by your commit: https://github.com/plone/plone.api/commit/f73bddc570c05f7a1a4cea01c75b1cea6538676e

[2017-04-04 09:20] jaroel commented on #340
The offical method is to use safe_id=True, see https://docs.plone.org/develop/plone.api/docs/api/content.html#plone.api.content.copy

Having said that, the docs say .copy should raise InvalidParameterError, so that's a bug.

[2017-04-04 10:36] jaroel commented on #361
Docs say to use safe_id for that https://docs.plone.org/develop/plone.api/docs/api/content.html#plone.api.content.rename

Docs also say that rename should raise InvalidParameterError for safe_id=False, but it doesn't so that's a bug

[2017-04-04 10:36] jaroel commented on #361
Nope, that's incorrect.

[2017-04-05 11:40] hvelarde opened #367 "Why we are not testing against Plone 4.3?"
I just discovered that PR are not being tested against Plone 4.3; AFAIK, Plone 4.3 is still supported and the lack of testing is opening the door to bugs like #364.

[2017-04-06 08:17] gforcada commented on #367
It is tested (supposedly): https://github.com/plone/plone.api/blob/master/.travis.yml#L9 where is 4.3 missing?

[2017-04-06 11:12] hvelarde commented on #367
from Jenkins; you can confirm that on any PR.

[2017-04-06 16:09] #340 closed

[2017-04-06 16:12] jensens opened #368 "Built-in "id" is used as parameter at several fucntion signatures"
It is a good practice to avoid using built-ins as variable names.

We do use ``id`` all over the place. This should be changed.

In order to not break anything the old one needs a deprecation period.

[2017-04-06 17:06] mauritsvanrees commented on #367
Nothing in 4.3 core is using plone.api, and it is not in the version pins or in the sources. Also, plone.api has only been officially added in Plone 5.0. So it seems normal that it is not tested on Jenkins for 4.3.

Travis tests it with the latest Plone 4.3 release. That should be good enough. Regressions caused by a new Plone release will be caught the next time a Travis job is run. plone.api can

[2017-04-07 14:08] hvelarde commented on #367
thanks for the clarification.

[2017-04-07 14:08] #367 closed

[2017-05-11 12:06] gforcada opened #371 "[RFC] Move permission and roles related functions to a new security module"
Right now on both ``user`` and ``group`` modules there are functions related to security, and with #370 this will expand to the ``content`` module.

Given that one of the most praised features of Plone is security, it would make sense IMHO, to have a ``security`` module that gathers all these functions, *and possibly new ones?*

**Opinions?**

[2017-05-23 11:51] jaroel opened #372 "plone.api.user.has_permission lacks sanity check"
I would expect an exception as those permission do not exists. One could argue that False should be returned for all non-existing permissions, but I'd rather have an error because my code no longer is correct.

Any thoughts?

[2017-05-25 11:31] adamcheasley commented on #372
Yes, that certainly confusing! I would go for an exception.

[2017-05-25 11:33] adamcheasley commented on #372
Looks like at the moment this function is just a wrapper around a portal_membership method:
[code]

[2017-05-25 11:43] jaroel commented on #372
Yep. Somewhere is a short circuit for a Manager to return True.
For normal users checkPermission does return False.

[2017-06-08 17:32] hvelarde commented on #312
I just stumbled upon this again; we must implement it using a keyword as suggested from the very beginning, an `unrestricted` keyword seems to be fine. the only problem if is someone has added such index to the catalog.

[2017-06-08 17:55] jaroel commented on #312
Be careful here, as unrestrictedSearchResults remove three checks:
1. language
2. expiration
3. security

I'm not a fan of disabling all, just to get content in all languages.
1. use `.find(Language="")`
2. use `.find(show_inactive=True)`

The security check currently cannot be bypassed using a flag, but this can be done by using the context manager.

If this doesn't appeal to anyone, then I'd rat

[2017-06-12 07:09] neilfse opened #373 "plone.api.env.adopt_role does not remove security manager context when exception was raised within context manager"
delete

[2017-06-12 07:10] #373 closed

[2017-06-12 07:12] neilferreira opened #374 "plone.api.env.adopt_role does not remove security manager context when exception was raised within context manager"
In this example you can see that we're making use of adopt_roles 100 times in a single script, the fallback max stack size as per https://github.com/zopefoundation/AccessControl/blob/master/src/AccessControl/ImplPython.py#L535

[code]

This raises the following error:
[code]

This can be fixed by amending this section of code (https://github.com/plone/plone.api/blob/master/src/plone/api/env.py#L12

[2017-06-18 20:34] petri commented on #312
How about just adding the following kwargs:

`find(inactive=False, ignore_security=False, all_languages=False)`

This would allow relaxing the current find restrictions in a granular manner.

[2017-08-01 06:06] nngu6036 opened #378 "portal_transform api return error message instead of raising error when coverting pdf to plain text"
[code]
For some PDF, the return values is "Syntax Error: Expected the optional content group list, but wasn’t able to find it, or it isn’t an Array Permission Error: Copying of text from this document is not allowed.“,

[2017-08-02 14:14] fredvd opened #379 "portal.get_current_language does not negotiate for language variants"
Debugging this with @mauritsvanrees this afternoon:

portal.translate depends on portal.get_current_language to pass the current language to the translate function.  get_current_language its docstring says   """Return the current negotiated language.""", but it does not do any negotiation as it is provided by zope.i18n.negotiate.

This causes Plone sites with a configured language variante like nl

[2017-08-02 14:25] ebrehault commented on #379
@fredvd yes you are right, it seems like I made a mistake here.

Instead of implementing a new function, maybe we could add an optional paramter to `get_current_language`, like:
[code]
and depending on `negociated`, we would call zope.i18n's negotiate function or not.

That way, we do not break any existing code and we keep the API simple.

[2017-08-03 16:20] gforcada commented on #379
@ebrehault given excellent's @fredvd analysis, I would consider this a bug and so, I would unconditionally call zope.i18n's negotiation, is there any real use case to **not* do negotiation?

We could make a major release, i.e. 1.8 or even 2.0 if needed for that.

Keeping the current behavior feels wrong.

[2017-08-03 21:12] ebrehault commented on #379
@gforcada I agree no negociation is not very useful.
My idea was to avoid breaking existing code, but if we do a major release, I guess that's ok to replace the existing implementation (we will have to mention this breaking change in the change log).

[2017-08-03 22:19] jensens commented on #379
I agree with @gforcada. Also, I think a major version bump is a must, even if this is a fix. But one changing behavior.

[2017-08-04 08:26] fredvd commented on #379
Thank you all for your feedback.  I made a branch yesterday to do some work on, but the issue is spread both over get_current_language and translate and I was having doubts to make negotiation by default turned off.

A bit of background on how I ran into this issue, I was trying to change the default value for a header field in a portlet based on the current language using a defaultFactory:

[code

[2017-08-08 21:49] idgserpro opened #380 ""ParseError: Token 'EOF' required, u'(' found" when doing api.content.find(Title='(test)')"
Using `api.content.find(Title='(test)')` we get the error:

`ParseError: Token 'EOF' required, u'(' found`. This is because we have a limitation in Products.ZCTextIndex with some special chars like `(` (check https://github.com/zopefoundation/Products.ZCTextIndex/issues/2).

Plone 5, in default search view, already does something to avoid this error in https://github.com/plone/Products.CMFPlone/bl

[2017-08-14 15:25] mauritsvanrees commented on #379
I made a pull request for the `translate` function. It ignores the `plone.api` `get_current_language` function.

Note that the negotiated language can also [differ per translation domain](https://github.com/zopefoundation/zope.i18n/blob/4.2.0/src/zope/i18n/translationdomain.py#L78-L83), which our `get_current_language` function does not account for. So for example you may run into things like this

[2017-08-17 17:13] rafaelbco opened #383 "Unexpected behavior in content.delete"
If I do:
[code]
I expect that the function will do nothing and exit without errors. However, an exception is raised.

The reason is the first line of code of the `delete` function:
[code]
Since `objects` is an empty list and `obj` is `None` (the default value) we end up with `objects` being `[None]`.

An easy way to fix is to filter out `None` objects from the resulting list:
[code]

[2017-08-19 20:08] gforcada commented on #383
That could be handled on the decorators to keep the function simple and easy to read as well.

[2017-08-20 20:29] #379 closed

[2017-09-06 19:56] edemir206 opened #384 "How do I create a Document with rich text/html using plone api ?"
Hi,

I'm using plone api to generate menus and pages dynamically, it works ok for folders and pages but i simply can't find a way to also add text/html to a page using the api.

The script I'm using to create is

[code]
But if I put the "text" argument it will raise an error on the page, in the docs i couldn't find anything about this.

[2017-09-06 20:24] pbauer commented on #384
text is a instanc of RichTextValue, so you need to do `text=RichTextValue(u'foo', 'text/html', 'text/x-html-safe')`,

To access the value you can use `obj.text.raw` and `obj.text.output`. The later will pass the content through the safe-html transform.

[2017-09-06 20:24] #384 closed

[2017-09-18 11:18] pbauer opened #385 "api.env.read_only_mode breaks in Zope4"
It uses Globals which is gone.

[2017-09-18 19:36] #385 closed

[2017-09-23 17:10] jaroel commented on #380
Here's a workaround:
[code]

[2017-09-23 17:28] jaroel commented on #378
This issue was moved to plone/Products.PortalTransforms#21

[2017-09-23 17:28] #378 closed

[2017-09-25 07:32] #383 closed

[2017-09-25 07:36] #361 closed

[2017-09-25 08:28] mauritsvanrees opened #389 "Travis QA job fails on isort, sometimes"
I have merged two pull request by @jaroel, which themselves passed fine on Travis, but now on master Travis fails. This is only the [QA job](https://travis-ci.org/plone/plone.api/jobs/279411379).

- `isort` complains. When I try it locally it complains too, about `portal.py` which has the date/datetime commits in the wrong sort order. When I fix it locally, it complains again about those same line

[2017-09-29 18:06] idgserpro opened #390 "Improve is_anonymous docs to warn about Zope security model in __init__"
We just came by this issue this morning (change `getAuthenticatedUser` to `is_anonymous`):

https://stackoverflow.com/questions/8254521/portal-membership-getauthenticateduser-portal-state-member-etc-always-return

@mjpieters gave an impecable answer:

Since this is at Zope level and trying to add a `WARNING` or something like that when we're trying to get the user in `__init__` is not possible, wo

[2017-10-13 00:14] jensens commented on #93
to late, I would say, people are using this method out in the wild.

[2017-10-13 00:14] #93 closed

[2018-01-01 18:08] pigeonflight commented on #363
Is this still something being considered?

[2018-01-09 12:23] iham commented on #363
it still is, afaik

[2018-02-09 10:05] david-batranu commented on #99
The changes introduced in https://github.com/plone/plone.api/commit/f73bddc570c05f7a1a4cea01c75b1cea6538676e breaks content creation when other fields are involved. Consider this usecase:

[code]

This is because `CalendarWidget.process_form` is called with `fields` as `form`. That method does some [insane](https://github.com/plone/Products.Archetypes/blob/master/Products/Archetypes/Widget.py#L469

[2018-02-16 08:21] #389 closed

[2018-02-20 11:28] zopyx opened #398 "Support for getting and setting owner/ownership"
A canonical API for getting and setting the owner of an object would be handy.

[2018-03-08 09:56] gotcha commented on #99
@david-batranu Did you check that the bug with title mentioned above by @datakurre is still fixed ?

[2018-03-08 11:41] david-batranu commented on #99
@gotcha you're right! I fixed the pull request, it now uses a `{None: None}` dict, so it will pass the check in  [`BaseObject._processForm`](https://github.com/plone/Products.Archetypes/blob/master/Products/Archetypes/BaseObject.py#L606).

[2018-03-13 10:36] #99 closed

[2018-03-20 11:50] jensens opened #400 "Support for check if adding a portal type is allowed"
I really often have the use case to check if the creation of a portal_type is allowed for a specific context.

Just checking for `Add portal content` is not enough. First `allowedContentTypes` (taking constraintypes into account) need to be checked and also checks for custom add permissions (stored at the FTI) are needed. The FTI has a method for this.

A sample code snippet doing this looks like

[2018-03-28 16:46] frisi opened #401 "make api.user.has_permission work with permission ids too"
currently `api.user.has_permission('cmf.ModifyPortalContent')` returns `True` if logged in as `Manager`  and `False` for users having the `Modify portal content` permission.

problem: the method can only handle permission titles and silently fails when called with permission ids (https://github.com/zopefoundation/Products.CMFCore/blob/2.3.0/Products/CMFCore/permissions.zcml#L30)

i previously used

[2018-03-28 16:48] frisi commented on #401
i also assign @jensens because he recently contributed a change for has_permission (https://github.com/plone/plone.api/commit/c950845f07fea19d4b755cbd6085c2e62298ac5a)

[2018-03-28 16:55] jensens commented on #401
I agree we should support both writings. It is confusing enough to have those two different ways to do the same. Also, checking if the permission exists at all is a very good feature and would make problems with typos in permissions visible early.

[2018-03-30 01:14] jaroel commented on #401
Also see #372

[2018-03-30 09:42] mauritsvanrees commented on #401
👍 for supporting both, and for raising a `ValueError` or a more specific error in case no such permission is found.
I would say the same exception should be raised when this check is done for a Manager.
As anyone up for making a PR?

[2018-06-05 11:17] pbauer opened #403 "Travis CI integration is broken"
Since plone.api is now part of the core does it make sense to have a travis-setup it in this package?

[2018-06-05 13:02] hvelarde commented on #403
I think is easier to catch errors in Travis than having to wait for builds on Jenkins, but it's up to the testing team.

I can help fixing the builds, but on Thursday or Friday.

[2018-06-14 13:20] MrTango opened #404 "Add add indexes method to api.portal"
adding indexes to the portal_catalog is not easy or at least not well documented and it's not recommented to do it with generic setup profiles, because of the lag of reindexing options and the rist of empty indexes on reinstalling the addon.

We have good examples how to do it in a setuphandler, but this could be solved once and for all by providing a central method in CMFPlone in utils or so and

[2018-06-14 13:43] MrTango commented on #404
maybe also allow to add a catalog column (meta data column) with the same method or another one.

[2018-08-09 23:30] hvelarde commented on #403
@loechel Travis is still broken and I don't understand the current setup; I need you help on this or I'll will have to completely remove the use of tox.

@gforcada can you help here?

[2018-08-10 08:07] gforcada commented on #403
@hvelarde why has a testing related issue be a blocker? :thinking: one can still test pull requests with jenkins, so there is no blockage IMHO.

[2018-08-10 08:33] gforcada commented on #403
as for the problem at hand, looking at the logs it feels like there is a missing pypi.org link missing in buildouts? :thinking:

[2018-08-10 13:05] hvelarde commented on #403
@gforcada because we can't merge fixes or new features without testing; are plone.api tests running in Jenkins? where is the status?

[2018-08-13 22:54] #364 closed

[2018-08-14 00:38] idgserpro commented on #364
This has been fixed. See: #407

[2018-08-14 07:47] #403 closed

[2018-08-28 13:12] gyst opened #411 "api.content.copy raises KeyError when given id=None, safe_id=True"
There's an edge case where `safe_id` is not implemented, resulting in `KeyError` because the target id already exists. Fix forthcoming.

[2018-08-28 14:44] gyst commented on #411
Unable to reproduce, closing.

[2018-08-28 14:44] #411 closed

[2018-08-30 12:32] jensens opened #412 "portal.show_message requires request?"
``plone.api.portal.show_message`` requires the request as parameter. Whats the rationale behind it? With ``zope.globalrequest`` available we usually do not need to pass it. This would simplify the call.

[2018-08-30 13:07] hvelarde commented on #412
yes, that's unnecessary.

[2018-09-04 15:13] gbastien opened #413 "api.content.create fails to create a Plone4 AT Collection"
Hi everybody, @david-batranu

it fails in archetypes/querywidget/widget.py because the form given to process_form is {None: None} and values are not iterable.

This is due to a recent change, so either we change {None: None} to {'': ''} or we have to change archetypes.querywidget.  Would {'': ''} sove your problem @david-batranu because it solves our ;-)

Thank you!

Gauthier

[2018-09-04 17:54] hvelarde commented on #413
@gbastien we already created a failing test on the referenced pull request.

[2018-09-05 08:32] david-batranu commented on #413
@gbastien A lot of time has passed, and don't remember exactly why I chose `{None: None}` as the "empty" value.

The purpose of the fix was for the `if` in [BaseObject.process_form](https://github.com/plone/Products.Archetypes/blob/master/Products/Archetypes/BaseObject.py#L606) to pass, so that `form = values` instead of getting polluted by the `request.form` data. Looks like `{'': ''}` would pass

[2018-09-05 08:42] gbastien commented on #413
@david-batranu

thank you for feedback, I think {'':''} will have the same behavior and it solves the problem...  I proposed this change to @idgserpro and @hvelarde

Gauthier

[2018-09-14 12:50] hvelarde commented on #413
fixed in #414

[2018-09-14 12:50] #413 closed

[2018-09-20 09:54] sgeulette commented on #293
Doing:
            api.user.grant_roles(user=user, roles=['Manager'])
            api.content.transition(obj=document, transition='set_scanned')
            api.user.revoke_roles(user=user, roles=['Manager'])
is not working.
Doing:
            api.user.grant_roles(user=user, roles=['Manager'], obj=document)
            api.content.transition(obj=document, transition='set_scanned')
            api.

[2018-10-05 19:35] jaroel opened #415 "api.content.create lack schema validation"
As seen in https://community.plone.org/t/creating-custom-dexterity-objects-from-plone-api/7318/ we can currently set an invalid value/type for fields.
In this case the user is setting a str instead of a RichTextValue, which leads to tracebacks like
[code]

Is this something we need to handle here, or is this something DX should do?

[2018-10-06 10:01] tomgross commented on #415
I regularly use `api.content.create` in test to create mock-like objects with just the attributes I need for testing. Validating against the full schema would break a LOT of tests for me. An additional optional parameter to do the check could be a way to go.

[2018-10-06 10:36] jaroel commented on #415
I was thinking about the attributes you pass in, not the whole schema.
We don't see that many questions about it, though.

[2018-10-06 12:54] davisagli commented on #415
Dexterity also doesn't validate attributes when you set them directly on an existing object. Validation happens via forms and the REST API. Maybe we should consider it when working with objects directly, but it would be a pretty big change, and would require some thought about how to handle things like invariants involving multiple fields.

[2018-10-15 09:46] gbastien commented on #415
Hi @jaroel

funny, I was just about to add the same issue ;-)

I think a parameter set to True by default should validate fields, we end up creating our own "validate_fields" method called after every api.content.create (see https://github.com/IMIO/imio.helpers/blob/master/src/imio/helpers/content.py#L239) and we even needed to write migrations sometimes to fix things, and so on...

@jaroel if you

[2018-10-15 12:12] jaroel commented on #415
Hi Gauthier,

I wasn't planning to do any actual work here atm :D

On Mon, 15 Oct 2018 at 11:46, Gauthier Bastien <notifications@github.com>
wrote:

--
Roel Bruggink
tel: +31-6-1626-0881
roel@jaroel.nl

[2018-10-25 14:58] rafaelbco commented on #362
I can confirm that the issue occurs with any content type that implements a custom adapter to `INameFromTitle`.

This adapter provides a `title` property, which the name chooser utility then uses as an input to generate the actual ID. This way one can customize the generated IDs for the content items.

I think `plone.api.content.create()` should be modified in the following way (before the line me

[2018-10-30 11:49] fredvd opened #417 "get_registry_record errors even if default value is given"
expected behavior:

When I query a record that is not yet loaded in the registry by running an upgrade step which reads in  registry records defined by xml or a zope.schema interface, I should receive a default parameter if I passed that into the get_registry_record function call

What happens:

https://github.com/plone/plone.api/blob/a8361ed4f24df027cd3afae68a30454ad5b299e1/src/plone/api/portal.p

[2018-10-30 11:56] fredvd commented on #417
Whoops, wrong assumption. My IProjectSettings was already loaded in the registry, but I added a new field. And plone.registry.forInterface is checking if all fields from the Interface are loaded in the registry, which is not the case.

My suggested solution  would be to pass 'check=False' to the forInterface call on L300, which will skip the field verification:

https://github.com/plone/plone.regi

[2018-10-30 15:17] ale-rt opened #418 "api.user.grant_roles: issue when no username is passed and obj is not None"
Looking at https://github.com/plone/plone.api/blob/a8361ed4f24df027cd3afae68a30454ad5b299e1/src/plone/api/user.py#L365-L383
It seems that calling `api.user.grant_roles(user=user, obj=obj)` will remove all the roles because we will invoke:
https://github.com/plone/plone.api/blob/a8361ed4f24df027cd3afae68a30454ad5b299e1/src/plone/api/user.py#L382
passing None as a username.

[2018-10-30 15:17] ale-rt commented on #418
This needs a confirmation, I just spotted this looking at the code.

[2018-11-07 17:06] ale-rt commented on #293
It might be that some role validation is done, so maybe just granting the `Manager` role is not enough.
I would test:
[code]
And if this work I will then start removing the roles until the minimum set of roles that allows the operation to succeed is found.

[2018-11-07 17:20] jensens opened #419 "adopt_user fills the AccessControl context-stack and leads to "SystemError: Excessive recursion""
I hit this with an import/sync script, where we call the `plone.api.env.adopt_user` several times. So, it was more than 100 times.
[code]

`adopt_user` is a context manager. On `__enter__` it gets the current security-manager, remembers it, creates a newSecurityManager and sets it. On `__exit__` it sets back to the old security-manager.

Now, if a new SecurityManager is created all is fine.

But i

[2018-11-13 10:22] ale-rt opened #421 "Remove rename after creation"
when calling `api.content.create` omitting the `id` the parameter, a random id is first created:
https://github.com/plone/plone.api/blob/d2bf66834206cdc58162046b16d1b8d739d6db45/src/plone/api/content.py#L82
Then a new id is computed:
https://github.com/plone/plone.api/blob/d2bf66834206cdc58162046b16d1b8d739d6db45/src/plone/api/content.py#L122
and the object is renamed:
https://github.com/plone/plo

[2018-11-13 10:51] ale-rt commented on #421
Well we need the `content` object to actually compute the new_id. Checking anyway if this can be improved.

[2018-12-18 14:01] timitos opened #422 "user.get_permissions returns irrelevant permissions"
get_permissions iterates over all existing permissions in plone. It may be an option to use "manage_getPermissionMapping()" from AccessControl to retrieve the permissions that are relevant for the given object.

[2019-01-17 12:28] iham opened #423 "IntIdMissingError: None"
plone 5.2a2
python 2.7

inside a test derived from PLONE_APP_CONTENTTYPES_FIXTURE
i get that error when
[code]
any idea?

[2019-01-18 09:33] iham opened #424 "API Wishlist (continuous)"
just a list of ideas and wishes to be seen in plone.api

names are not carved in stone ;)

- [ ] api.content.update (#363 )
- [ ] api.addon
  - [ ] .list_available()
  - [ ] .list_installed()
  - [ ] .install('<profile>')
  - [ ] .reinstall('<profile>')
  - [ ] .uninstall('<profile>')
  - [ ] .is_installed('<profile>')
  - [ ] .version('<profile>')
- [ ] api.types
  - [ ] .get_fti('<type>')
  - [

[2019-02-08 16:46] jaroel commented on #363
Sounds alike awesome idea!
Keep in mind that different behaviors can define the same field. ie IBehav1.foobar and IBehav2.foobar.

[2019-02-12 10:44] frisi opened #426 "api.content.find can't query for multiple object_provides with operator 'and'"
The catalog allows to combine multiple values in the keyword index using the operator `or` (default) and `and` (https://docs.plone.org/4/en/develop/plone/searching_and_indexing/query.html#query-multiple-values)

`or` queries are supported by `api.content.find(object_provides=[Interface1, Interface2])` already.

However, `and` queries are currently broken:

This catalog query returns only objects i

[2019-02-14 09:12] #426 closed

[2019-03-08 08:17] szakitibi commented on #359
`get_user()` method works, but it uses a different method to "hunt" the users in the user folders.

While `get_users()` fails to list LDAP users, but the problem is in the underlying method here:

https://github.com/plone/plone.api/blob/1e4acfbc2e75561c4885e1c5089b19aaed1ab25e/src/plone/api/user.py#L173

When [`pas.plugins.ldap`](https://github.com/collective/pas.plugins.ldap) add-on is activated,

[2019-04-09 12:44] gforcada opened #428 "Gracefully handle missing registry records on an interface"
Scenario:
- an existing interface with a few fields is initialized in the registry
- the code is deployed and GenericSetup takes care of creating the records and initializing them
- some time afterwards the interface gets updated with new fields
- as soon as the code is deployed and a code path calls ``plone.api.portal.get_registry_record(interface=XXX, name=YYY)`` it breaks because the new fields

[2019-04-10 21:12] mauritsvanrees commented on #428
PR merged. Thanks!

[2019-04-10 21:12] #428 closed

[2019-05-13 09:16] ale-rt opened #430 "The intids catalog contains stale references after move operations"
I pushed a https://github.com/plone/plone.api/tree/demo-broken-intids branch that verifies if the intids catalog is in order after some operations.

It turns out it is not because the stored references to the objects contain an outdated path.

The effect of this is that some edit operations on objects containing references might fail with this traceback:
[code]

The reason for that is due to the f

[2019-05-13 09:17] ale-rt commented on #430
Not sure if this is a plone.api issue or something more general.
I will keep investigating and eventually close this ticket and open another one in the proper repo.

[2019-05-13 11:02] ale-rt commented on #430
[code]
The error seems related to the fact that the ids OIBTree is not changed because the key appear to be equal to the previous one even if the path is different.
Changing the code to:
[code]
fixes the issue.

https://github.com/plone/five.intid has no issue tracker so I cannot for the moment file an issue there.

[2019-05-16 08:53] iham commented on #423
Traceback (innermost last):
  Module ZServer.ZPublisher.Publish, line 144, in publish
  Module ZPublisher.mapply, line 85, in mapply
  Module Products.PDBDebugMode.runcall, line 68, in pdb_runcall
  Module ZServer.ZPublisher.Publish, line 44, in call_object
  Module plone.app.content.browser.actions, line 252, in __call__
  Module plone.app.content.browser.actions, line 315, in do_action
  Module

[2019-05-16 08:54] iham commented on #423
the same happens in plone 5.2rc2

even using the ui actions copy & paste

[2019-05-16 09:27] iham commented on #423
not part of plone.api - this is way deeper to search for.

https://github.com/plone/Products.CMFPlone/issues/2866

[2019-05-16 09:27] #423 closed

[2019-05-21 07:14] #430 closed

[2019-07-02 19:02] idgserpro commented on #219
Well, @ale-rt implemented something about zcml in https://pypi.org/project/zpretty/, but I'm not so sure of it's adherence to zcml style guide in some situations, for example in [one line empty tags](https://zopetoolkit.readthedocs.io/en/latest/codingstyle/zcml-style.html#empty-tags). From a `plonecli` template:

[code]

Running zpretty gives:

[code]

[2019-07-03 15:32] jensens commented on #219
FTR only: I usually use `xml_pp -i -s indented_a configure.zcml` which produces almost an output that is AFAIK compatible to what some styleguide for ZCML recommends (I found years ago in Zopeverse, nowadys at https://zopetoolkit.readthedocs.io/en/latest/codingstyle/zcml-style.html#style-guide).

I have this as an alias `alias xmlpp='xml_pp -i -s indented_a'` since several years in my `.bashrc` an